.lk_ref {
    ul {
        list-style: none;
        color: #70635A;
        span {
            color: #52C1B8;
        }
        li {
            @media (max-width: 1023px) {
                padding: 5px 0;
            }
        }
    }
    p {
        color: #70635A;
    }
}

.lk_btn-cod_wrap {
    margin: 20px 0;
}

.lk_input-cod {
display: inline-block;
font-size: 15px;
    color: #898989;
    border: 1px solid #D3D9DE;
    border-radius: 8px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: #fff;
    padding-right: 10px;
}

.lk_btn-cod {
    position: relative;

}

.repost-info {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #70635A;
}
