{{> lk-nav-content/lk-nav-content}}
<div class="container lk_wrap">
    <div class="lk_content lk_ref">
        <ul>
            <li><span>Зарабатывайте 15%</span> от cashback'a ваших друзей у партнеров Union всегда</li>
            <li><span>Пригласите друга</span> и при регистрации попросите ввести Ваш инвайт-код <div class="lk_input-cod">345sg3</div></li>
        </ul>
        <div class="lk_btn-cod_wrap">
            <div class="repost-info ">Или отправьте ссылку для регистрации:</div>
            <div id="copy_cod" class="lk_input-cod">http://union.ru?ref=12312fdsw4sdf4</div>
            <span data-clipboard-target="#copy_cod" class="btn lk_btn-cod">
        	Копировать
            </span>
            <div class="repost-info ">Или поделитесь в соц.сетях:</div>
            <a class="btn" href="#"><i class="fab fa-vk"></i></a>
            <a class="btn" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="btn" href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <p>Если у вас есть свой блог и вы хотите зарабатывать напишите нам на почту - <a target="_blank" href="mailto: help@union.ru">help@union.ru</a></p>
    </div>
    {{> lk-sidebar-content/lk-sidebar-content}}
</div>
