<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%
            {{> header-content/header-content}}
            {{> nav-bar-content/nav-bar-content}}
            {{> main-content/main-content}}
            {{> footer/footer}}
        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>