<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%
    {{> header-content/header-content}}
    <div class="breadcrumbs">
        <div class="container">
            <a class="breadcrumbs_link" href="/index.html">Главная</a>
            <span class="breadcrumbs_link">Личный кабинет</span>
        </div>
    </div>
    {{> lk-content/lk-content}} 
    {{> footer/footer}}

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>