.lk_message {
    table {
        max-width: 520px;
    }
    .pagination_wrap {
        max-width: 520px;
        @media (max-width: 991px) {
            margin-left: auto;
            margin-right: auto;
        }
    }
    td:nth-child(3),
    td:nth-child(4) {
        color: #80C7DD;
    }
}

.lk_content {
    font-size: 16px;
    line-height: 24px;
    &-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 2px solid #eee;
        max-width: 790px;
    padding-bottom: 20px;
    }
    &_left-side {
        max-width: 290px;
        width: 100%;
        img {
            max-width: 290px;
        }
    }
    &_right-side {
        max-width: 480px;
    }
    &_title {
        font-size: 23px;
        margin-bottom: 10px;
    }
    &_text {
        color: #70635A;
        margin-bottom: 10px;
    }
    &_value {
        color: #70635A;
        margin-bottom: 10px;
        span {
            margin-left: 5px;
            color: #80C7DD;
            text-decoration: underline;
        }
    }
    &_ul-title {
        margin-bottom: 5px;
    }
    ul {
        list-style: none;
    }
    li {
        color: #70635A;
        padding-left: 5px;
        &:before {
            content: '_';
            position: relative;
            top: -6px;
            left: -5px;
        }
    }
}
