{{> lk-nav-content/lk-nav-content}}
<div class="container lk_wrap">
    <div class="lk_content lk_message">
        <div class="lk_content-wrap">
            <div class="lk_content_left-side">
                <img src="static/img/general/cafe.jpg" alt="">
            </div>
            <div class="lk_content_right-side">
                <div class="lk_content_title">T-Brend</div>
                <div class="lk_content_text">Компания T-Brend предоставляет Вам специальные условия получения скидок.</div>
                <div class="lk_content_value">Бонусов на счету: <span>110</span></div>
                <div class="lk_content_ul-title">Условия использования:</div>
                <ul>
                    <li>Возвращается от покупок 10%</li>
                    <li>Можно оплачивать 100% от заказа</li>
                    <li>Сгорание 1% в день</li>
                </ul>
            </div>
        </div>
        <table class="lk_table">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Списано</th>
                    <th>Начислено</th>
                    <th>Остаток</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>22.07.2018</td>
                    <td>-200</td>
                    <td>500000</td>
                    <td>39</td>
                </tr>
                <tr>
                    <td>22.07.2018</td>
                    <td>-200000</td>
                    <td>789789</td>
                    <td>390000</td>
                </tr>
                <tr>
                    <td>22.07.2018</td>
                    <td>-468468468</td>
                    <td>789789</td>
                    <td>3900000</td>
                </tr>
                <tr>
                    <td>22.07.2018</td>
                    <td>-100</td>
                    <td></td>
                    <td>39000000</td>
                </tr>
                <tr>
                    <td>22.07.2018</td>
                    <td>-50</td>
                    <td>789789789</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        {{> lk-pagination-content/lk-pagination-content}}
    </div>
    {{> lk-sidebar-content/lk-sidebar-content}}
</div>
