* {
    margin: 0;
    padding: 0;
    outline: none;
    line-height: 1.2;
    box-sizing: border-box;
    font-family: 'Proxima Nova Rg', sans-serif;
}

p {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #272727;
}

input {
    font-size: 15px;
    color: #898989;
    border: 1px solid #D3D9DE;
    border-radius: 8px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: #fff;
}

textarea {
    font-size: 15px;
    color: #898989;
    border: 1px solid #D3D9DE;
    border-radius: 8px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: #fff;
    min-width: 240px;
    max-width: 520px;
    max-height: 150px;
    min-height: 60px;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.btn {
    padding: 8px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: #86776F;
    text-decoration: none;
    border: none;
    background: #D0E7ED;
    border-radius: 8px;
    cursor: pointer;
    transition: background .3s ease, color .3s ease;
    &:hover {
        background: #5FABC2;
        color: #fff;
    }
}

:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity .3s ease;
}

:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity .3s ease;
}

:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity .3s ease;
}

:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity .3s ease;
}
