.menu {
    width: 220px;
    background: #fff;
    .menu_link_wrap {
        position: relative;
        &.active .menu_link {
            background: #eee;           
        }
        @media (max-width: 1023px) {
            &.active .menu_link:after {
                content: "\f106";
            }
        }
    }
    .menu_link {
        font-size: 16px;
        text-decoration: none;
        padding: 8px 10px;
        padding-left: 0;
        color: #898989;
        display: flex;
        align-items: center;
        transition: .3s ease;
        &:after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f105";
            font-size: 12px;
            color: #D3D9DE;
            margin-left: auto;
            padding-left: 10px;
            @media (max-width: 1023px) {
                content: "\f107";
            }
        }
        &:hover {
            background: #eee;
        }
        i {
            width: 20px;
            margin-right: 10px;
            color: #80C7DD;
            text-align: center;
        }
    }
    .menu_sub-link_wrap {
        display: grid;
        position: absolute;
        top: 0;
        left: -9999px;
        background: #fff;
        border: 1px solid #D0E7ED;
        z-index: 50;
        opacity: 0;
        transition: opacity .4s ease .15s;
        @media (max-width: 1023px) {
            display: none;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            border: none;
            opacity: 1;
        }
        &.active {
            opacity: 1;
            left: 100%;
        }
    }
    .menu_sub-link_container {
        column-gap: 0;  
        background: #fff;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .menu_sub-link {
        display: block;
        font-size: 14px;
        text-decoration: none;
        padding: 8px 10px;
        color: #898989;
        white-space: nowrap;
        transition: .3s ease;
        break-inside: avoid;
        &:hover {
            background: #eee;
        }
        @media (max-width: 1023px) {
            width: 100%;
        }
        &.all {
            display: none;
            @media (max-width: 1023px) {
                display: block;
            }
        }
    }
    .menu_link_wrap.active .menu_sub-link_wrap {
        display: grid;
    }
    .menu_ads-block {
        grid-column-start: 2;
        grid-column-end: 3;
        padding: 20px;
        background: #fff;
        & a,
        & img {
            display: block;
        }
        @media (max-width: 1023px) {
            display: none;
        }
    }
    @media (max-width: 1023px) {
        display: none;
        width: 100%;
    }
}
