<div class="menu">
    <div class="menu_link_wrap">
        <a class="menu_link" href="/catalog.html"><i class="fas fa-utensils"></i><span>Поесть</span></a>
        <div class="menu_sub-link_wrap">
            <div class="menu_sub-link_container">
                <a class="menu_sub-link all" href="/catalog.html">Все компании категории</a>
                <a class="menu_sub-link" href="/catalog.html">Антикафе</a>
                <a class="menu_sub-link" href="/catalog.html">Банкетные залы</a>
                <a class="menu_sub-link" href="/catalog.html">Бары</a>
                <a class="menu_sub-link" href="/catalog.html">Доставка еды</a>
                <a class="menu_sub-link" href="/catalog.html">Доставка обедов</a>
                <a class="menu_sub-link" href="/catalog.html">Роллы и суши</a>
                <a class="menu_sub-link" href="/catalog.html">Кальянные</a>
                <a class="menu_sub-link" href="/catalog.html">Кафе</a>
                <a class="menu_sub-link" href="/catalog.html">Кондитерские</a>
                <a class="menu_sub-link" href="/catalog.html">Кофейни</a>
                <a class="menu_sub-link" href="/catalog.html">Пабы</a>
                <a class="menu_sub-link" href="/catalog.html">Пивные бары</a>
                <a class="menu_sub-link" href="/catalog.html">Пиццерии</a>
                <a class="menu_sub-link" href="/catalog.html">Рестораны</a>
                <a class="menu_sub-link" href="/catalog.html">Ресторан для свадьбы</a>
                <a class="menu_sub-link" href="/catalog.html">Столовые</a>
                <a class="menu_sub-link" href="/catalog.html">Фастфудные киоски</a>
                <a class="menu_sub-link" href="/catalog.html">Ход доги</a>
                <a class="menu_sub-link" href="/catalog.html">Мясо</a>
            </div>
            <div class="menu_ads-block">
                <a href="#"><a href="#"><img src="static/img/general/kvadrat.png" alt=""></a></a>
            </div>
        </div>
    </div>
    <div class="menu_link_wrap">
        <a class="menu_link" href="/catalog.html"><i class="fas fa-gamepad"></i><span>Развлечения</span></a>
        <div class="menu_sub-link_wrap">
            <div class="menu_sub-link_container">
                <a class="menu_sub-link all" href="/catalog.html">Все компании категории</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
            </div>
            <div class="menu_ads-block">
                <a href="#"><img src="static/img/general/kvadrat.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="menu_link_wrap">
        <a class="menu_link" href="/catalog.html"><i class="fas fa-shopping-cart"></i><span>Магазины</span></a>
        <div class="menu_sub-link_wrap">
            <div class="menu_sub-link_container">
                <a class="menu_sub-link all" href="/catalog.html">Все компании категории</a>
                <a class="menu_sub-link" href="/catalog.html">Антикафе</a>
                <a class="menu_sub-link" href="/catalog.html">Банкетные залы</a>
                <a class="menu_sub-link" href="/catalog.html">Бары</a>
                <a class="menu_sub-link" href="/catalog.html">Доставка еды</a>
                <a class="menu_sub-link" href="/catalog.html">Доставка обедов</a>
                <a class="menu_sub-link" href="/catalog.html">Роллы и суши</a>
                <a class="menu_sub-link" href="/catalog.html">Кальянные</a>
                <a class="menu_sub-link" href="/catalog.html">Кафе</a>
                <a class="menu_sub-link" href="/catalog.html">Кондитерские</a>
                <a class="menu_sub-link" href="/catalog.html">Кофейни</a>
                <a class="menu_sub-link" href="/catalog.html">Пабы</a>
                <a class="menu_sub-link" href="/catalog.html">Пивные бары</a>
                <a class="menu_sub-link" href="/catalog.html">Пиццерии</a>
                <a class="menu_sub-link" href="/catalog.html">Рестораны</a>
                <a class="menu_sub-link" href="/catalog.html">Ресторан для свадьбы</a>
                <a class="menu_sub-link" href="/catalog.html">Столовые</a>
                <a class="menu_sub-link" href="/catalog.html">Фастфудные киоски</a>
                <a class="menu_sub-link" href="/catalog.html">Ход доги</a>
                <a class="menu_sub-link" href="/catalog.html">Мясо</a>
                <a class="menu_sub-link" href="/catalog.html">Антикафе</a>
                <a class="menu_sub-link" href="/catalog.html">Банкетные залы</a>
                <a class="menu_sub-link" href="/catalog.html">Бары</a>
                <a class="menu_sub-link" href="/catalog.html">Доставка еды</a>
                <a class="menu_sub-link" href="/catalog.html">Доставка обедов</a>
                <a class="menu_sub-link" href="/catalog.html">Роллы и суши</a>
                <a class="menu_sub-link" href="/catalog.html">Кальянные</a>
                <a class="menu_sub-link" href="/catalog.html">Кафе</a>
                <a class="menu_sub-link" href="/catalog.html">Кальянные</a>
                <a class="menu_sub-link" href="/catalog.html">Кафе</a>
            </div>
            <div class="menu_ads-block">
                <a href="#"><img src="static/img/general/kvadrat.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="menu_link_wrap">
        <a class="menu_link" href="/catalog.html"><i class="fab fa-hotjar"></i><span>Бани и сауны</span></a>
        <div class="menu_sub-link_wrap">
            <div class="menu_sub-link_container">
                <a class="menu_sub-link all" href="/catalog.html">Все компании категории</a>
                <a class="menu_sub-link" href="/catalog.html">Антикафе</a>
                <a class="menu_sub-link" href="/catalog.html">Банкетные залы</a>
                <a class="menu_sub-link" href="/catalog.html">Бары</a>
                <a class="menu_sub-link" href="/catalog.html">Доставка еды</a>
                <a class="menu_sub-link" href="/catalog.html">Доставка обедов</a>
                <a class="menu_sub-link" href="/catalog.html">Роллы и суши</a>
                <a class="menu_sub-link" href="/catalog.html">Кальянные</a>
                <a class="menu_sub-link" href="/catalog.html">Кафе</a>
                <a class="menu_sub-link" href="/catalog.html">Кондитерские</a>
                <a class="menu_sub-link" href="/catalog.html">Кофейни</a>
                <a class="menu_sub-link" href="/catalog.html">Пабы</a>
                <a class="menu_sub-link" href="/catalog.html">Пивные бары</a>
                <a class="menu_sub-link" href="/catalog.html">Пиццерии</a>
                <a class="menu_sub-link" href="/catalog.html">Рестораны</a>
                <a class="menu_sub-link" href="/catalog.html">Ресторан для свадьбы</a>
                <a class="menu_sub-link" href="/catalog.html">Столовые</a>
                <a class="menu_sub-link" href="/catalog.html">Фастфудные киоски</a>
                <a class="menu_sub-link" href="/catalog.html">Ход доги</a>
                <a class="menu_sub-link" href="/catalog.html">Мясо</a>
                <a class="menu_sub-link" href="/catalog.html">Пабы</a>
                <a class="menu_sub-link" href="/catalog.html">Пивные бары</a>
                <a class="menu_sub-link" href="/catalog.html">Пиццерии</a>
                <a class="menu_sub-link" href="/catalog.html">Рестораны</a>
                <a class="menu_sub-link" href="/catalog.html">Ресторан для свадьбы</a>
                <a class="menu_sub-link" href="/catalog.html">Столовые</a>
                <a class="menu_sub-link" href="/catalog.html">Фастфудные киоски</a>
                <a class="menu_sub-link" href="/catalog.html">Ход доги</a>
                <a class="menu_sub-link" href="/catalog.html">Мясо</a>
                <a class="menu_sub-link" href="/catalog.html">Ход доги</a>
                <a class="menu_sub-link" href="/catalog.html">Мясо</a>
            </div>
            <div class="menu_ads-block">
                <a href="#"><a href="#"><img src="static/img/general/kvadrat.png" alt=""></a></a>
            </div>
        </div>
    </div>
    <div class="menu_link_wrap">
        <a class="menu_link" href="/catalog.html"><i class="fas fa-child"></i><span>Детям</span></a>
        <div class="menu_sub-link_wrap">
            <div class="menu_sub-link_container">
                <a class="menu_sub-link all" href="/catalog.html">Все компании категории</a>
            </div>
            <div class="menu_ads-block">
                <a href="#"><img src="static/img/general/kvadrat.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="menu_link_wrap">
        <a class="menu_link" href="/catalog.html"><i class="fas fa-female"></i><span>Мамам</span></a>
        <div class="menu_sub-link_wrap">
            <div class="menu_sub-link_container">
                <a class="menu_sub-link all" href="/catalog.html">Все компании категории</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
            </div>
            <div class="menu_ads-block">
                <a href="#"><img src="static/img/general/kvadrat.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="menu_link_wrap">
        <a class="menu_link" href="/catalog.html"><i class="fas fa-heart"></i><span>Красота и здоровье</span></a>
        <div class="menu_sub-link_wrap">
            <div class="menu_sub-link_container">
                <a class="menu_sub-link all" href="/catalog.html">Все компании категории</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
            </div>
            <div class="menu_ads-block">
                <a href="#"><img src="static/img/general/kvadrat.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="menu_link_wrap">
        <a class="menu_link" href="/catalog.html"><i class="fas fa-graduation-cap"></i><span>Обучение</span></a>
        <div class="menu_sub-link_wrap">
            <div class="menu_sub-link_container">
                <a class="menu_sub-link all" href="/catalog.html">Все компании категории</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
            </div>
            <div class="menu_ads-block">
                <a href="#"><img src="static/img/general/kvadrat.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="menu_link_wrap">
        <a class="menu_link" href="/catalog.html"><i class="fas fa-car"></i><span>Авто</span></a>
        <div class="menu_sub-link_wrap">
            <div class="menu_sub-link_container">
                <a class="menu_sub-link all" href="/catalog.html">Все компании категории</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
            </div>
            <div class="menu_ads-block">
                <a href="#"><img src="static/img/general/kvadrat.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="menu_link_wrap">
        <a class="menu_link" href="/catalog.html"><i class="fas fa-basketball-ball"></i><span>Спорт</span></a>
        <div class="menu_sub-link_wrap">
            <div class="menu_sub-link_container">
                <a class="menu_sub-link all" href="/catalog.html">Все компании категории</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
            </div>
            <div class="menu_ads-block">
                <a href="#"><img src="static/img/general/kvadrat.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="menu_link_wrap">
        <a class="menu_link" href="/catalog.html"><i class="fas fa-tree"></i><span>Туризм</span></a>
        <div class="menu_sub-link_wrap">
            <div class="menu_sub-link_container">
                <a class="menu_sub-link all" href="/catalog.html">Все компании категории</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
            </div>
            <div class="menu_ads-block">
                <a href="#"><img src="static/img/general/kvadrat.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="menu_link_wrap">
        <a class="menu_link" href="/catalog.html"><i class="fas fa-h-square"></i><span>Гостиницы и базы отдыха</span></a>
        <div class="menu_sub-link_wrap">
            <div class="menu_sub-link_container">
                <a class="menu_sub-link all" href="/catalog.html">Все компании категории</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
            </div>
            <div class="menu_ads-block">
                <a href="#"><img src="static/img/general/kvadrat.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="menu_link_wrap">
        <a class="menu_link" href="/catalog.html"><i class="fas fa-shipping-fast"></i><span>Услуги</span></a>
        <div class="menu_sub-link_wrap">
            <div class="menu_sub-link_container">
                <a class="menu_sub-link all" href="/catalog.html">Все компании категории</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
            </div>
            <div class="menu_ads-block">
                <a href="#"><img src="static/img/general/kvadrat.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="menu_link_wrap">
        <a class="menu_link" href="/catalog.html"><i class="fas fa-wrench"></i><span>Ремонт и строительство</span></a>
        <div class="menu_sub-link_wrap">
            <div class="menu_sub-link_container">
                <a class="menu_sub-link all" href="/catalog.html">Все компании категории</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
            </div>
            <div class="menu_ads-block">
                <a href="#"><img src="static/img/general/kvadrat.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="menu_link_wrap">
        <a class="menu_link" href="/catalog.html"><i class="fas fa-handshake"></i><span>В2В</span></a>
        <div class="menu_sub-link_wrap">
            <div class="menu_sub-link_container">
                <a class="menu_sub-link all" href="/catalog.html">Все компании категории</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
            </div>
            <div class="menu_ads-block">
                <a href="#"><img src="static/img/general/kvadrat.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="menu_link_wrap">
        <a class="menu_link" href="/catalog.html"><i class="fas fa-gift"></i><span>Праздники</span></a>
        <div class="menu_sub-link_wrap">
            <div class="menu_sub-link_container">
                <a class="menu_sub-link all" href="/catalog.html">Все компании категории</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
                <a class="menu_sub-link" href="/catalog.html">Подкатегория</a>
            </div>
            <div class="menu_ads-block">
                <a href="#"><img src="static/img/general/kvadrat.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
