.lk_nav {
    height: 62px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    &-wrap {
        background: #D0E7ED;
        @media (max-width: 1023px) {
            position: absolute;
            top: 140px;
            left: 0;
            display: none;
            width: 100%;
        }
    }
    &-link {
        padding: 0 20px;
        cursor: pointer;
        text-decoration: none;
        color: #000;
        font-size: 16px;
        &.active {
            text-decoration: underline;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    @media (max-width: 1023px) {
        height: auto;
        margin-top: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        &-link {
            display: block;
            padding: 10px 0;
            width: 100%;
        }
    }
}

.burger_lk-nav,
.burger_lk-info {
    font-size: 35px;
    display: none;
    color: #5FABC2;
    @media (max-width: 1023px) {
        display: inline-block;
    }
}

.burger_lk-info {
    margin-left: 20px;
}

.burger_lk-nav.open,
.burger_lk-info.open {
    color: #eee;
}
