<div class="lk_nav-wrap">
    <div class="container lk_nav">
        <a href="/lk-blog-main.html" class="lk_nav-link active">Мои приобритения</a>
        <a href="/lk-blog-ref.html" class="lk_nav-link">Пригласить друга</a>
        <a href="/lk-blog-bonus.html" class="lk_nav-link">Cashback</a>
        <a href="/lk-blog-setting.html" class="lk_nav-link">Настройки</a>
    </div>
</div>
<div class="container">
    <div class="burger_lk-nav">
        <i class="fas fa-list"></i>
    </div>
    <div class="burger_lk-info">
        <i class="fas fa-info-circle"></i>
    </div>
</div>
