<div class="sale_wrap container">
    <h3 class="page-title">
		Рассказывайте друзьям о классных продуктах и получайте на них скидки до 80%
	</h3>
    <div class="sale_info">
        <div class="sale_info-left">
            <span>Как это работает:</span>
        </div>
        <div class="sale_info-right">
            <p>1. Выбираете товар который планируете приобрести</p>
            <p>2. Делаете репост записи на своей странице ВКонтакте</p>
            <p>3. Соберите необходимое число просмотров (если не хватает своего охвата - попросите друзей вам помочь)</p>
            <p>4. При покупке покажите компании репост записи</p>
            <p>*Срок действия акций и количество товаров ограничено</p>
        </div>
    </div>
    <div style="display: inline-block; margin-left: auto; margin-right: auto;">
        <div class="sale_block-wrap">
            <div class="sale_block">
                <div class="sale_img"><img src="https://pp.userapi.com/c836320/v836320002/5b1e4/zJrzVW9vyzo.jpg" alt=""></div>
                <div class="sale_content">
                    <div class="sale_name">Пиццерия Ещё кусочек</div>
                    <div class="sale_text">
                        <p>Скидка 70% на любую пиццу</p>
                    </div>
                    <div class="sale_social-wrap">
                        <p>За 100 просмотров</p>
                        <p>Действует до 20.05.2018</p>
                        <script type="text/javascript">
                        <!--
                        document.write(VK.Share.button({
                            url: 'http://localhost:3004/sale.html',
                            title: 'Пиццерия Ещё кусочек',
                            comment: 'Краткое описание сайта',
                            image: 'http://unionpoint.ru/static/info.jpg'
                        }, {
                            type: 'custom',
                            text: '<span class="btn">Получить скидку</span>'
                        }));
                        -->

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
