.page-title {
    margin-top: 10px;
    font-size: 18px;
    line-height: 18px;
    color: #70635a;
}

.sale_info {
    margin-top: 20px;
    padding: 15px;
    display: flex;
    align-items: flex-start;
    background: #DAE9FA;
    @media (max-width: 767px) {
        flex-direction: column;
    }
    &-left {
        align-self: center;
        padding-right: 20px;
        @media (max-width: 767px) {
            padding-bottom: 10px;
        }
    }
    &-right {
        p:first-child {
            margin-top: 0;
        }
        p:last-child {
            margin-bottom: 0;
        }
        padding-left: 20px;
        border-left: 1px solid #fff;
        @media (max-width: 767px) {
            padding-top: 10px;
            padding-left: 0;
            border-left: none;
            border-top: 1px solid #fff;
        }
    }
}

.sale_block-wrap {
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sale_block {
    position: relative;
    margin: 10px;
    width: 270px;
    border: 1px solid #D3D9DE;
    border-radius: 8px;
    overflow: hidden;
    transition: .4s ease;
    top: 0;
    background: #fff;
    & p {
        margin: 0;
        color: #70635a;
        font-size: 14px;
        line-height: 18px;
        &+p {
            margin-top: 5px;
        }
    }
    &:hover {
        top: -5px;
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);
    }
}

.sale_img {
    img {
        display: block;
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
}

.sale_content {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.sale_name {
    padding-bottom: 5px;
    color: #70635a;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    border-bottom: 1px solid #D3D9DE;
}

.sale_text {
    padding: 8px 0;
    border-bottom: 1px solid #D3D9DE;
}

.sale_social-wrap {
    padding-top: 10px;
    & p:first-child {
    	color: #80C7DD;
    }
    & a {
    	width: 100%;
    }
    & .btn {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
}
