<div class="main_sidebar">
    <div class="main_select-wrap">
        <div class="main_select-label">Сортировка</div>
        <select class="main_select-city" name="">
            <option value="" selected="" disabled="">Подкатегория</option>
            <option value="">Антикафе</option>
            <option value="">Бары</option>
            <option value="">Доставка еды</option>
            <option value="">Рестораны</option>
        </select>
        <select class="main_select-city" name="">
            <option value="" selected="" disabled="">Торговый центр</option>
            <option value="">Петровкий</option>
            <option value="">Столица</option>
            <option value="">Талисман</option>
            <option value="">Флагман</option>
            <option value="">Италмас</option>
            <option value="">Гвоздь</option>
        </select>
        <select class="main_select-city" name="">
            <option value="" selected="" disabled="">Район</option>
            <option value="">Центральный</option>
            <option value="">Угловой</option>
            <option value="">Крайний</option>
            <option value="">Далекий</option>
        </select>
        <button class="btn btn-select">Применить</button>
    </div>
    <div class="rek-block">
        <a href="https://vk.com/s.k.page" target="_blank"><img src="static/img/general/bear.jpg" alt="ads"></a>
    </div>
    <div class="main_link-wrap">
        <a class="main_sidebar-link" href="#">Города</a>
        <a class="main_sidebar-link" href="#">Помощь</a>
        <a class="main_sidebar-link" href="/our-people.html">Наши люди</a>
        <a class="main_sidebar-link" href="/contacts.html">Контакты</a>
        <a class="main_sidebar-link" href="/regulation.html">Лицензионное соглашение</a>
    </div>
    <div class="main_download">Скачать приложение:
        <a href="">
                    <i class="fab fa-apple"></i>
                </a>
        <a href="">
                    <i class="fab fa-android"></i>
                </a>
    </div>
    <div class="main_social-link-wrap">
        <a href="#" class="main_social-link"><i class="fab fa-vk"></i></a>
        <a href="#" class="main_social-link"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="main_social-link"><i class="fab fa-twitter"></i></a>
        <a href="#" class="main_social-link"><i class="fab fa-instagram"></i></a>
    </div>
</div>
