.main_sidebar {
    width: 230px;
    @media (max-width: 1023px) {
        display: none;
        background: #fff;
        width: 320px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.main_select-label {
    font-size: 15px;
    color: #86776F;
    margin-bottom: 20px;
}

.btn-select {
    display: block;
    margin-left: auto;
    margin-top: 10px;
}

.rek-block {
    width: 230px;
    height: 350px;
    margin-top: 50px;
    border-radius: 8px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.main_link-wrap {
    padding-top: 25px;
    padding-bottom: 25px;
}

.main_sidebar-link {
    display: inline-block;
    color: #898989;
    font-size: 16px;
    margin-right: 15px;
    margin-bottom: 7px;
    position: relative;
    transition: .3s ease;
    &:hover {
        color: #575757;
    }
}

.main_download {
    font-size: 16px;
    color: #86776F;
    a {
        font-size: 25px;
        text-decoration: none;
        .fa-apple {
            color: #D3D9DE;
            transition: color .3s ease;
            &:hover {
                color: #000;
            }
        }
        .fa-android {
            color: #80C7DD;
            transition: color .3s ease;
            &:hover {
                color: #00CC1B;
            }
        }
    }
}

.main_social-link-wrap {
    padding-top: 20px;
    padding-bottom: 20px;
}

.main_social-link {
    font-size: 25px;
    margin-right: 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #D0E7ED;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    transition: color .3s ease;
    text-align: center;
    vertical-align: middle;
    i {
        line-height: 40px;
    }
    &:hover {
        color: #000;
    }
}