<div class="container">
    <div class="auth_wrap">
        <a href="/index.html"><img src="static/img/general/logo.svg" alt="logo"></a>
        <div class="auth_title">Восстановление пароля</div>
        <div class="auth_info">На указанный номер будет отправлено СМС с кодом сброса пароля</div>
        <input class="auth_input auth_input-tel" type="tel" placeholder="+7 (___) ___-__-__">
        <span id="cod-input" class="btn">Получить код для входа</span>
    </div>
    <div class="auth_wrap cod-input">
        <a href="/index.html"><img src="static/img/general/logo.svg" alt="logo"></a>
        <div class="auth_title">Восстановление пароля</div>
        <div class="auth_info">Введите полученный код:</div>
        <input class="auth_input auth_input-cod" type="tel" placeholder="0000">
        <a class="btn" href="/lk.html">Войти</a>
        <span class="reg-link">Выслать код повторно</span>
    </div>
</div>
