<div class="nav-bar">
	<div class="container">
		<div class="plus-arrow prev"><i class="fas fa-chevron-left"></i></div>
		<div class="nav-bar_slider">
			<div class="nav-bar_item"><i class="fas fa-utensils"></i>Поесть</div>
			<div class="nav-bar_item"><i class="fas fa-gamepad"></i>Развлечения</div>
			<div class="nav-bar_item"><i class="fas fa-shopping-cart"></i>Магазины</div>
			<div class="nav-bar_item"><i class="fab fa-hotjar"></i>Бани и сауны</div>
			<div class="nav-bar_item"><i class="fas fa-child"></i>Детям</div>
			<div class="nav-bar_item"><i class="fas fa-female"></i>Мамам</div>
			<div class="nav-bar_item"><i class="fas fa-heart"></i>Красота и здоровье</div>
			<div class="nav-bar_item"><i class="fas fa-graduation-cap"></i>Обучение</div>
			<div class="nav-bar_item"><i class="fas fa-car"></i>Авто</div>
			<div class="nav-bar_item"><i class="fas fa-basketball-ball"></i>Спорт</div>
			<div class="nav-bar_item"><i class="fas fa-tree"></i>Туризм</div>
			<div class="nav-bar_item"><i class="fas fa-h-square"></i>Гостиницы и базы отдыха</div>
			<div class="nav-bar_item"><i class="fas fa-shipping-fast"></i>Услуги</div>
			<div class="nav-bar_item"><i class="fas fa-wrench"></i>Ремонт и строительство</div>
			<div class="nav-bar_item"><i class="fas fa-handshake"></i>В2В</div>
			<div class="nav-bar_item"><i class="fas fa-gift"></i>Праздники</div>
		</div>
		<div class="plus-arrow next"><i class="fas fa-chevron-right"></i></div>
	</div>
</div>
