.nav-bar {
    background: #D0E7ED;
}

.nav-bar_item {
	padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #86776F;
    cursor: pointer;
    & i {
        font-size: 25px;
        display: block;
        margin-bottom: 10px;
    }
    &:hover {
    	background: #80C7DD;
    }
}

.plus-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 25px;
    color: #86776F;
    cursor: pointer;
	&.next {
		right: -5px;
	}
	&.prev {
		left: -5px;
	}
}

.slick-track {
    height: 92px;
}