{{> lk-nav-content/lk-nav-content}}
<div class="container lk_wrap">
    <div class="lk_content lk_setting">
        <div class="lk_title">Сменить номер</div>
        <form action="">
            <div class="auth_info">Все данные привязанные к этому номеру, будут перенесены на новый номер:</div>
            <input class="auth_input auth_input-tel" type="tel" placeholder="+7 (___) ___-__-__" required="">
            <input class="auth_input auth_input-cod" type="tel" placeholder="0000">
            <div class="auth_info cod_info">На указанный номер будет отправлено СМС с кодом подтверждения номера</div>
            <button class="btn change_tel">Сменить номер</button>
        </form>
         <div class="lk_title" style="margin-top: 15px">Настройки cashback'a</div>
        <div class="checkbox-wrap">
            <input id="auth_politic" type="checkbox">
            <label for="auth_politic">Переводить весь мой кэшбэк на благотворительность.</label>
        </div>
    </div>
    {{> lk-sidebar-content/lk-sidebar-content}}
</div>
