{{> lk-company-nav-content/lk-company-nav-content}}
<div class="container lk_wrap">
    <div class="lk_content lk-company_follow">
        <ul>
            <li>Добавляйте клиентов и вы всегда будите зарабатывать 5% от их cashback'a в других компаниях
            <div class="info">* Один клиент может быть привязан только к одной компании</div></li>
            <li>Попросите его при регистрации указать Ваш инвайд код <span class="lk_input-cod">345sg3</span> и вы будите дополнительно зарабатывать ещё 15% от cashback'a</li>
        </ul>
        <div class="lk_btn-cod_wrap">
            <div class="repost-info ">Или отправьте ссылку для регистрации:</div>
            <div id="copy_cod" class="lk_input-cod">http://union.ru?ref=12312fdsw4sdf4</div>
            <span data-clipboard-target="#copy_cod" class="btn lk_btn-cod">
        	Копировать
            </span>
            <div class="repost-info ">Или поделитесь в соц.сетях:</div>
            <a class="btn" href="#"><i class="fab fa-vk"></i></a>
            <a class="btn" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="btn" href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    {{> lk-company-sidebar-content/lk-company-sidebar-content}}
</div>
