.breadcrumbs {
	background: #eeeeee;
	padding: 5px 0;
    .breadcrumbs_link {
    	display: inline-block;
        font-size: 12px;
        color: gray;
        text-decoration: none;
        margin-right: 10px;
        position: relative;
        text-transform: uppercase;
        &:after {
            color: grey;
            content: '/';
            font-size: 15px;
            position: absolute;
            top: -2px;
            right: -8px;
        }
        &:last-child:after {
			content: '';
        }
    }
    a.breadcrumbs_link:hover {
    	color: #039ad3;
    }
        span.breadcrumbs_link:hover {
    	cursor: default;
    }
}
