{{> lk-nav-content/lk-nav-content}}
<div class="container lk_wrap">
    <div class="lk_content lk_follow">
		<div class="favorite_block">
            <img src="static/img/general/cafe.jpg" alt="">
            <div class="favorite_title">
            	<span>Название компании</span>
            	<a class="btn" href="#">Отписаться</a>
            </div>
        </div>
        <div class="favorite_block">
            <img src="static/img/general/cafe.jpg" alt="">
            <div class="favorite_title">
            	<span>Название компании</span>
            	<a class="btn" href="#">Отписаться</a>
            </div>
        </div>
        <div class="favorite_block">
            <img src="static/img/general/cafe.jpg" alt="">
            <div class="favorite_title">
            	<span>Название компании</span>
            	<a class="btn" href="#">Отписаться</a>
            </div>
        </div>
        <div class="favorite_block">
            <img src="static/img/general/cafe.jpg" alt="">
            <div class="favorite_title">
            	<span>Название компании</span>
            	<a class="btn" href="#">Отписаться</a>
            </div>
        </div>
        <div class="favorite_block">
            <img src="static/img/general/cafe.jpg" alt="">
            <div class="favorite_title">
            	<span>Название компании</span>
            	<a class="btn" href="#">Отписаться</a>
            </div>
        </div>
        <div class="favorite_block">
            <img src="static/img/general/cafe.jpg" alt="">
            <div class="favorite_title">
            	<span>Название компании</span>
            	<a class="btn" href="#">Отписаться</a>
            </div>
        </div>
        <div class="favorite_block">
            <img src="static/img/general/cafe.jpg" alt="">
            <div class="favorite_title">
            	<span>Название компании</span>
            	<a class="btn" href="#">Отписаться</a>
            </div>
        </div>
        <div class="favorite_block">
            <img src="static/img/general/cafe.jpg" alt="">
            <div class="favorite_title">
            	<span>Название компании</span>
            	<a class="btn" href="#">Отписаться</a>
            </div>
        </div>
        <div class="favorite_block">
            <img src="static/img/general/cafe.jpg" alt="">
            <div class="favorite_title">
            	<span>Название компании</span>
            	<a class="btn" href="#">Отписаться</a>
            </div>
        </div>
        <div class="favorite_block">
            <img src="static/img/general/cafe.jpg" alt="">
            <div class="favorite_title">
            	<span>Название компании</span>
            	<a class="btn" href="#">Отписаться</a>
            </div>
        </div>
        <div class="favorite_block">
            <img src="static/img/general/cafe.jpg" alt="">
            <div class="favorite_title">
            	<span>Название компании</span>
            	<a class="btn" href="#">Отписаться</a>
            </div>
        </div>
    </div>
    {{> lk-sidebar-content/lk-sidebar-content}}
</div>
