.catalog_content {
    width: 100%;
    max-width: 550px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 1023px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.catalock_block {
    width: 49%;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    border: 1px solid gainsboro;
    border-radius: 10px;
    overflow: hidden;
    order: 2;
    transition: .3s ease;
    position: relative;
    top: 0;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    img {
        width: 100%;
        flex-shrink: 0;
        object-fit: cover;
    }
    &-title {
        padding: 7px;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 16px;
        font-weight: 700;
        color: #70635a;
    }
    a {
        font-size: 16px;
        color: #000;
        display: flex;
        height: 100%;
        flex-direction: column;
        text-decoration: none;
    }
    & .main_content-block_percent {
        padding: 8px 15px;
        font-size: 20px;
        @media (max-width: 425px) {
            padding: 5px 10px;
            font-size: 16px;
        }
    }
    &.catalog_banner {
        width: 100%;
        order: 1;
        position: static;
        & .catalock_block_head {
            height: 160px;
        }
        & .catalock_block_logo {
            width: 60px;
            height: 60px;
            bottom: -30px;
        }
    }
    &:hover {
        top: -5px;
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);
    }
}

.catalock_block_head {
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.catalock_block_logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.catalock_block_body {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    text-align: center;
    &-name {
        color: #70635a;
        font-size: 18px;
        font-weight: 700;
        padding-bottom: 5px;
    }
    &-percent {
        line-height: 40px;
        font-size: 40px;
        color: #5FABC2;
    }
    &-info {
        color: #70635a;
        font-size: 14px;
    }
    & .btn {
        width: 100%;
        margin-top: 10px;
        text-transform: uppercase;
    }
}