<div class="container">
    <div class="burger_nav">
        <i class="fas fa-list"></i>
    </div>
    <div class="burger_search">
        <i class="fas fa-search"></i>
    </div>
    <div class="main_wrap">
        {{> menu-content/menu-content}}
        <div class="catalog_content">
            <!--Для показа компании первой, добавлять класс catalog_banner-->
            <div class="catalock_block catalog_banner">
                <a href="/card-company.html">
                    <div class="catalock_block_head" style="background-image: url(http://localhost:3004/static/img/general/1ccdMw5qMyI.jpg);">
                        <div class="catalock_block_logo" style="background-image: url(https://pp.userapi.com/c830309/v830309544/d3814/8zhyGU3ImhA.jpg);"></div>
                    </div>
                    <div class="catalock_block_body">
                        <div class="catalock_block_body-name">Тату-студия Курбатов</div>
                        <div class="catalock_block_body-percent">15%</div>
                        <div class="catalock_block_body-info">cashback</div>
                        <span class="btn">перейти</span>
                    </div>
                </a>
            </div>
            <div class="catalock_block">
                <a href="/card-company.html">
                    <div class="catalock_block_head" style="background-image: url(http://unionpoint.ru/wp-content/uploads/2018/04/eQoJzYqokXU.jpg);">
                        <div class="catalock_block_logo" style="background-image: url(https://pp.userapi.com/c830309/v830309544/d3814/8zhyGU3ImhA.jpg);"></div>
                    </div>
                    <div class="catalock_block_body">
                        <div class="catalock_block_body-name">T-Brend</div>
                        <div class="catalock_block_body-percent">15%</div>
                        <div class="catalock_block_body-info">cashback</div>
                        <span class="btn">перейти</span>
                    </div>
                </a>
            </div>
            <div class="catalock_block">
                <a href="/card-company.html">
                    <div class="catalock_block_head" style="background-image: url(http://unionpoint.ru/wp-content/uploads/2018/04/i-LclF_H9HE.jpg);">
                        <div class="catalock_block_logo" style="background-image: url(https://pp.userapi.com/c830309/v830309544/d3814/8zhyGU3ImhA.jpg);"></div>
                    </div>
                    <div class="catalock_block_body">
                        <div class="catalock_block_body-name">Калита</div>
                        <div class="catalock_block_body-percent">15%</div>
                        <div class="catalock_block_body-info">cashback</div>
                        <span class="btn">перейти</span>
                    </div>
                </a>
            </div>
            <div class="catalock_block">
                <a href="/card-company.html">
                    <div class="catalock_block_head" style="background-image: url(http://localhost:3004/static/img/general/1ccdMw5qMyI.jpg);">
                        <div class="catalock_block_logo" style="background-image: url(https://pp.userapi.com/c830309/v830309544/d3814/8zhyGU3ImhA.jpg);"></div>
                    </div>
                    <div class="catalock_block_body">
                        <div class="catalock_block_body-name">Тату-студия Курбатов</div>
                        <div class="catalock_block_body-percent">15%</div>
                        <div class="catalock_block_body-info">cashback</div>
                        <span class="btn">перейти</span>
                    </div>
                </a>
            </div>
            <div class="catalock_block">
                <a href="/card-company.html">
                    <div class="catalock_block_head" style="background-image: url(http://localhost:3004/static/img/general/1ccdMw5qMyI.jpg);">
                        <div class="catalock_block_logo" style="background-image: url(https://pp.userapi.com/c830309/v830309544/d3814/8zhyGU3ImhA.jpg);"></div>
                    </div>
                    <div class="catalock_block_body">
                        <div class="catalock_block_body-name">Тату-студия Курбатов</div>
                        <div class="catalock_block_body-percent">15%</div>
                        <div class="catalock_block_body-info">cashback</div>
                        <span class="btn">перейти</span>
                    </div>
                </a>
            </div>
        </div>
        {{> main-sidebar-content/main-sidebar-content}}
    </div>
</div>
