{{> lk-nav-content/lk-nav-content}}
<div class="container lk_wrap">
    <div class="lk_content lk_bonus">
        <div class="lk_title">История зачислений</div>
        <!--Блок, если таблица не содержит результатов-->
        <div style="display: none;">Здесь будет показан список движения ваших зачислений сети Union</div>
        <table class="lk_table">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Операция</th>
                    <th>Списано</th>
                    <th>Начислено</th>
                    <th>Остаток</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>22.07.2018</td>
                    <td>Филлипп Петрович</td>
                    <td>-200</td>
                    <td></td>
                    <td>39</td>
                </tr>
                <tr>
                    <td>22.07.2018</td>
                    <td>Петр Филлиппович</td>
                    <td></td>
                    <td>78</td>
                    <td>390</td>
                </tr>
                <tr>
                    <td>22.07.2018</td>
                    <td>Андрей Колчинович</td>
                    <td>-468</td>
                    <td></td>
                    <td>52</td>
                </tr>
                <tr>
                    <td>22.07.2018</td>
                    <td>Володиян Камбектович</td>
                    <td></td>
                    <td>250</td>
                    <td>750</td>
                </tr>
            </tbody>
        </table>
        {{> lk-pagination-content/lk-pagination-content}}
    </div>
    {{> lk-sidebar-content/lk-sidebar-content}}
</div>
