.lk_bonus_input {
    &+input {
        margin-left: 10px;
        @media (max-width: 580px) {
            margin-left: 0;
        }
    }
    &+button {
        margin-left: 10px;
        @media (max-width: 580px) {
            margin-left: 0;
        }
    }
    @media (max-width: 580px) {
        width: 100%;
            margin-bottom: 10px;
    }
}

.lk_bonus {
    td:nth-child(4),
    td:nth-child(5) {
        color: #80C7DD;
    }
    &+.lk_sidebar .gift {
        display: none;
    }
}

.lk_bonus-gift {
    padding-bottom: 20px;
}

