{{> lk-company-nav-content/lk-company-nav-content}}
<div class="container lk_wrap">
    <div class="lk_content lk-company_deposit">
        <table class="lk_table">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Операция</th>
                    <th>Зачисление</th>
                    <th>Списание</th>
                    <th>Остаток</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>18/07/3093</td>
                    <td>Зачисление</td>
                    <td>680</td>
                    <td>0</td>
                    <td>835</td>
                </tr>
                <tr>
                    <td>18/07/3093</td>
                    <td>Списание</td>
                    <td>0</td>
                    <td>86</td>
                    <td>98</td>
                </tr>
                <tr>
                    <td>18/07/3093</td>
                    <td>Зачисление</td>
                    <td>45</td>
                    <td>0</td>
                    <td>83</td>
                </tr>
                <tr>
                    <td>18/07/3093</td>
                    <td>Списание</td>
                    <td>0</td>
                    <td>586</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>18/07/3093</td>
                    <td>Зачисление</td>
                    <td>56</td>
                    <td>0</td>
                    <td>85</td>
                </tr>
                <tr>
                    <td>18/07/3093</td>
                    <td>Списание</td>
                    <td>6</td>
                    <td>0</td>
                    <td>98</td>
                </tr>
            </tbody>
        </table>
        {{> lk-pagination-content/lk-pagination-content}}
    </div>
    {{> lk-company-sidebar-content/lk-company-sidebar-content}}
</div>
