<div class="lk_nav-wrap">
    <div class="container lk_nav">
        <a href="/lk-company-customers.html" class="lk_nav-link active">Мои клиенты</a>
        <a href="/lk-company-deposit.html" class="lk_nav-link">Депозит</a>
        <a href="/lk-company-operation.html" class="lk_nav-link">Операции</a>
        <a href="/lk-company-follow.html" class="lk_nav-link">Пригласить клиента</a>
        <a href="/lk-company-setting.html" class="lk_nav-link">Настройки</a>
    </div>
</div>
<div class="container">
    <div class="burger_lk-nav">
        <i class="fas fa-list"></i>
    </div>
    <div class="burger_lk-info">
        <i class="fas fa-info-circle"></i>
    </div>
</div>

