        <div class="pagination_wrap">
            <div class="pagination">
                <a class="pagination_link active" href="#">1</a>
                <a class="pagination_link " href="#">2</a>
                <a class="pagination_link " href="#">3</a>
                <a class="pagination_link " href="#">4</a>
                <a class="pagination_link " href="#">5</a>
                <a class="pagination_link " href="#">6</a>
                <a class="pagination_link " href="#">7</a>
                <span class="pagination_ellipsis ">...</span>
                <a class="pagination_link " href="#">27</a>
                <a class="pagination_link next " href="#"><i class="fas fa-angle-right"></i></a>
            </div>
            <div class="pagination">
                <a href="#" class="pagination_link active">10</a>
                <a href="#" class="pagination_link ">25</a>
                <a href="#" class="pagination_link ">50</a>
                <a href="#" class="pagination_link ">75</a>
                <a href="#" class="pagination_link ">100</a>
                <a href="#" class="pagination_link ">Все</a>
            </div>
        </div>
