
.pagination {
    margin-bottom: 15px;
    &_wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        margin-bottom: 40px;
        flex-wrap: wrap;
    }
    &_link {
        font-size: 14px;
        line-height: 14px;
        color: #979797;
        text-decoration: none;
        &+& {
            margin-left: 10px;
        }

        &.active {
            color: #666666;
        }
        &:hover {
            color: #666666;
        }
    }
    &_ellipsis {
        font-size: 14px;
        color: #979797;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }
}
