<div class="header_bg">
    <div class="container">
        <div class="header">
            <a class="header_logo" href="/index.html"><img src="static/img/general/logo.svg" alt="logo"></a>
            <div class="navbar">
                <a class="btn btn-like navbar_btn" href="/follows.html"><i class="fas fa-heart"></i></a>
                <a class="btn btn-add-company navbar_btn" href="#">Добавить компанию</a>
                <a href="#" id="select-city" class="btn navbar_btn"><i class="fas fa-map-marker-alt"></i>Ижевск</a>
                <a class="btn navbar_btn" href="/login.html">Войти</a>
            </div>
            <div class="burger_login">
                <i class="fas fa-user-circle"></i>
            </div>
        </div>
    </div>
</div>
