.header {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .navbar {
        margin-left: auto;
        @media (max-width: 767px) {
            display: none;
            position: absolute;
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
            top: 75px;
            z-index: 50;
            left: 0;
            background: #fff;
            .navbar_btn {
                width: 100%;
                margin: 0;
                text-align: center;
                border-radius: 0;
                margin-bottom: 10px;
            }
        }
    }

    & .btn {
        margin-left: 13px;
        i {
            margin-right: 10px;
        }
    }

    & .btn-like {
        padding-left: 8px;
        padding-right: 8px;
        color: #fff;
        i {
            margin: 0;
        }
        &:hover {
            color: #E33063;
        }
    }

    & .btn-add-company {
        color: #fff;
        background: #80C7DD;
        &:hover {
            background: #5FABC2;
            color: #fff;
        }
    }
}

.burger_login{
    font-size: 35px;
    display: none;
    color: #5FABC2;
    @media (max-width: 767px) {
        display: inline-block;
    }
}

.burger_nav,
.burger_search{
    font-size: 35px;
    display: none;
    color: #5FABC2;
    margin-top: 10px;
    @media (max-width: 1023px) {
        display: inline-block;
    }
} 

.burger_search {
    margin-left: 20px;  
}

.burger_login.open,
.burger_nav.open,
.burger_search.open {
    color: #eee;
}
