.checkbox-wrap {
    color: #86776F;
    font-size: 14px;
    text-align: left;
    margin-bottom: 10px;
    padding-left: 28px;
    position: relative;
    label {
        cursor: pointer;
    }
    input {
        position: absolute;
        display: none;
    }
    input:checked+label:after {
        content: '\f00c';
        font-family: 'Font Awesome 5 free';
        font-weight: 900;
        color: #5fabc2;
        font-size: 13px;
        position: absolute;
        top: 0px;
        left: 3px;
    }
    input:checked+label:before {
        background: #D0E7ED;
    }
    label:before {
        content: '';
        width: 15px;
        height: 15px;
        border: 2px solid #D0E7ED;
        border-radius: 4px;
        position: absolute;
        top: -3px;
        left: 0;
    }
}

.cod-input {
    display: none;
}
