.lk-company_main {
    &_row {
        width: 100%;
        font-size: 16px;
        display: flex;
        flex-wrap: wrap;
        &+& {
            margin-top: 10px;
        }
        & .fa-smile {
            color: green;
            margin-right: 10px;
        }
        & .fa-frown {
            color: red;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    &_cell-1 {
        width: 35%;
        font-weight: 700;
        text-align: right;
        @media (max-width: 767px) {
        	width: 100%;
        	text-align: left;
        }
    }
    &_cell-2,
    &_cell-4 {
        padding-left: 15px;
        padding-right: 15px;
        color: #80C7DD;
        text-decoration: underline;
    }
    &_cell-3 {
        font-weight: 700;
    }
}
