{{> lk-company-nav-content/lk-company-nav-content}}
<div class="container lk_wrap">
    <div class="lk_content lk-company_main">
        <div class="lk-company_main_row">
            <div class="lk-company_main_cell-1">Просмотр карточки на сайте</div>
            <div class="lk-company_main_cell-2">102</div>
        </div>
        <div class="lk-company_main_row">
            <div class="lk-company_main_cell-1">Просмотр карточки в приложении</div>
            <div class="lk-company_main_cell-2">102</div>
        </div>
        <div class="lk-company_main_row">
            <div class="lk-company_main_cell-1">Показать номер</div>
            <div class="lk-company_main_cell-2">102</div>
        </div>
        <div class="lk-company_main_row">
            <div class="lk-company_main_cell-1">Зарегестрировано клиентов</div>
            <div class="lk-company_main_cell-2">102</div>
            <div class="lk-company_main_cell-3">Принесли</div>
            <div class="lk-company_main_cell-4">102</div>
        </div>
        <div class="lk-company_main_row">
            <div class="lk-company_main_cell-1">Рефералов</div>
            <div class="lk-company_main_cell-2">102</div>
        </div>
        <div class="lk-company_main_row">
            <div class="lk-company_main_cell-1">Заказов через Union</div>
            <div class="lk-company_main_cell-2">102</div>
            <div class="lk-company_main_cell-3">На сумму</div>
            <div class="lk-company_main_cell-4">102</div>
        </div>
        <div class="lk-company_main_row">
            <div class="lk-company_main_cell-1">Выплачено</div>
            <div class="lk-company_main_cell-2">102</div>
        </div>
        <div class="lk-company_main_row">
            <div class="lk-company_main_cell-1">Отзывы</div>
            <div class="lk-company_main_cell-2">
            	<i class="far fa-smile"></i><span>102</span>
                <i class="far fa-frown"></i><span>102</span>
            </div>
        </div>
    </div>
    {{> lk-company-sidebar-content/lk-company-sidebar-content}}
</div>
