.auth_wrap {
    margin-top: 50px;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid #D3D9DE;
    border-radius: 8px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background: #fff;
    position: relative;
    img {
        width: 120px;
    }
    & .btn {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    & .btn+.btn {
        margin-top: 10px;
    }
    @media (max-width: 380px) {
    	width: 100%;
    }
}

.reg-link {
    color: #86776F;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
    &:hover {
        color: #039ad3;
        text-decoration: underline;
    }
}

.auth_title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-by-tel {
    display: none;
}

.auth_input {
    width: 100%;
    border: 1px solid #D3D9DE;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.auth_info {
    font-size: 12px;
    color: grey;
    text-align: left;
    line-height: 14px;
    margin-bottom: 10px;
}

