<div class="container">
    <div class="auth_wrap">
        <a href="/index.html"><img src="static/img/general/logo.svg" alt="logo"></a>
        <div class="auth_title">Войдите в Union</div>
        <a id="login-by-tel" href="#" class="btn">По номеру телефона</a>
        <a href="https://oauth.vk.com/authorize" target="_blank" class="btn"><i class="fab fa-vk"></i></a>
        <a href="/reg.html" class="reg-link">Регистрация</a>
    </div>
    <div class="auth_wrap login-by-tel">
        <a href="/index.html"><img src="static/img/general/logo.svg" alt="logo"></a>
        <div class="auth_title">Войдите в Union</div>
        <div class="auth_info">Номер телефона:</div>
        <input class="auth_input auth_input-tel" type="tel" placeholder="+7 (___) ___-__-__">
        <div class="auth_info">Пароль:</div>
        <input class="auth_input" type="password" placeholder="">
        <button class="btn">Войти</button> 
        <a class="reg-link" href="/forget.html">Не помню пароль</a>
    </div>
</div>
