<div class="container">
    <div class="contacts__container">
        <div class="contacts__about-block">
            <p class="contacts__block_title">Реквизиты:</p>
            <p>ООО “Юнион”
                <br>ИНН <strong>81218001565</strong>
                <br>ОГРН <strong>81181215000163</strong>
            </p>
            <p>
                <a href="mailto:support@hrlider.ru" target="_blank">support@union.ru</a>
                <br><strong>8-800-123-4567</strong> Звонок по России бесплатный
            </p>
            <p>
                Режим работы службы поддержки
                <br><strong>с 8:00 до 20:00 МСК</strong>
            </p>
            <p class="contacts__block_title contacts__block_title-social">Мы в соцсетях:</p>
            <div class="main_social-link-wrap">
                <a href="#" class="main_social-link"><i class="fab fa-vk"></i></a>
                <a href="#" class="main_social-link"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="main_social-link"><i class="fab fa-twitter"></i></a>
                <a href="#" class="main_social-link"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="contacts__form-block">
            <p class="contacts__block_title">Форма обратной связи:</p>
            <form action="">
                <div class="feedback-form__input-wrap_name">
                    <input class="feedback-form__input" type="text" id="form_input-name" required placeholder="Ваше имя">
                </div>
                <div class="feedback-form__input-wrap_email">
                    <input class="feedback-form__input" type="text" id="form_input-email" required placeholder="Ваш e-mail">
                </div>
                <div class="feedback-form__input-wrap_textarea">
                    <textarea class="feedback-form__input textarea" rows="6" placeholder="Ваше сообщение"></textarea>
                </div>
                <div class="">
                    <button class="btn">Отправить сообщение</button>
                </div>
            </form>
        </div>
    </div>
</div>
