 .contacts__container {
     padding-top: 20px;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     & .main_social-link-wrap {
         padding: 0;
     }
 }

 .contacts__about-block {
     font-size: 15px;
     color: #2f3542;
     width: 50%;
     @media (max-width: 991px) {
         width: 100%;
     }
 }

 .contacts__block_title {
     font-size: 20px;
     margin-bottom: 12px;
 }

 .contacts__block_title-social {
     margin-top: 40px;
 }

 .contacts__form-block {
     width: 50%;
     @media (max-width: 991px) {
         width: 100%;
         margin-top: 60px;
     }
 }


 .feedback-form {

     &__input-wrap_name:before {
         content: '\f007';
         font-family: 'Font Awesome 5 free';
         font-weight: 900;
         color: #5fabc2;
         font-size: 15px;
         position: absolute;
         top: 14px;
         left: 15px;
     }

     &__input-wrap_email:before {
         content: '\f0e0';
         position: absolute;
         font-family: 'Font Awesome 5 free';
         font-weight: 900;
         color: #5fabc2;
         font-size: 15px;
         top: 14px;
         left: 15px;
     }

     &__input-wrap_textarea:before {
         content: '\f044';
         font-family: 'Font Awesome 5 free';
         font-weight: 900;
         color: #5fabc2;
         font-size: 16px;
         position: absolute;
         top: 11px;
         left: 15px;
     }

     &__input-wrap_name,
     &__input-wrap_email,
     &__input-wrap_textarea {
         position: relative;
     }

     &__input {
         width: 100%;
         max-width: 585px;
         margin-bottom: 18px;
         padding-top: 12px;
         padding-bottom: 12px;
         padding-left: 40px;
         font-size: 14px;
         color: #767c88;
         border: 1px solid #b4b5b9;
         border-radius: 4px;
         background: transparent;
         &.textarea {
             padding-right: 30px;
         }
     }
 }
