.regulation_wrap {
    padding-top: 20px;
    ul {
        list-style: none;
    }

    li {
        color: #272727;
        padding-left: 15px;
        line-height: 20px;
        position: relative;
        &:before {
            content: '\f192';
            font-family: 'Font Awesome 5 free';
            font-weight: 900;
            color: grey;
            font-size: 6px;
            position: absolute;
            top: 0px;
            left: 0px;
        }
    }
}
