.lk_sidebar {
    width: 30%;
    padding-left: 30px;
    background: #fff;
    &-block {
        padding: 20px 5px;
        border-bottom: 1px solid #eee;
        color: #70635A;
        position: relative;
        i {
            cursor: pointer;
            &:hover + .sidebar-info {
                display: block;
            }
        }
        .btn {
            background: #80C7DD;
            color: #fff;
            margin-top: 10px;
            &:hover {
                background: #5FABC2;
            }
        }
        &_balans {
            padding: 5px 10px;
            margin-left: 5px;
            cursor: default;
        }
        &_info {
            font-size: 13px;
        }
        &_ref {
            width: 50%;
            display: inline-block;
            text-align: right;
            padding: 5px 0;
            &+span {
                margin-left: 5px;
                color: #80C7DD;
                text-decoration: underline;
            }
        }
        &.help a {
            color: #80C7DD;
            margin-right: 5px;
        }
        &.income span {
            color: #80C7DD;
            margin-right: 5px;
        }
        & .lk_bonus-gift {
            padding-bottom: 0;
            .lk_bonus_input {
                margin: 0;
                margin-top: 10px;
                display: block;
            }
            .btn {
                margin: 0;
                margin-top: 10px;
            }
        }
    }

    @media (max-width: 1023px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: none;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.sidebar-info {
    display: none;
    width: 200px;
    padding: 5px;
    background: #fff;
    position: absolute;
    top: 79%;
    right: 49px;
    font-size: 14px;
    text-align: center;
    z-index: 1;
    border: 1px solid #70635A;
    border-radius: 8px;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
    &:after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        position: absolute;
        right: 19px;
        top: -6px;
        background: #fff;
        border-left: 1px solid #70635A;
        border-top: 1px solid #70635A;
    }
}