<div class="container">
    <div class="card_wrap">
        <div class="card_photo-block">
            <div class="fotorama">
                <img src="static/img/general/az-bNg3zodI.jpg">
                <img src="static/img/general/Ufz14uIJZ88.jpg">
                <img src="static/img/general/iEYtQG_dhJc.jpg">
                <img src="static/img/general/Id2sVnKf-3A.jpg">
                <img src="static/img/general/HTrkDgIZeX4.jpg">
                <img src="static/img/general/COG1jw9AL-Y.jpg">
                <a href="https://youtu.be/MVouMFKmaeI"></a>
            </div>
            <span class="main_content-block_percent">- 10%</span>
        </div>
        <div class="card_info-block">
            <div class="card_title">
                <h1>"КURBATOV TATTOO" Тату ижевск</h1>
            </div>
            <div class="card_raiting">
                <span>Среднее время ожидания cashback'a:<span class="card_raiting-value">45</span> дней</span>
            </div>
            <div class="card_cashback">
                <span>Первая покупка - 15% </span> <span> Повторная покупка - 10%</span>
            </div>
            <div class="card_raiting">
                <span>Среднее время ожидания cashback'a:<span class="card_raiting-value">45</span> дней</span>
            </div>
            <div class="card_info-container">
                <div class="card_info-container_title">Адрес:</div>
                <div class="card_info-container_text">
                    <p>Пушкинская 222</p>
                    <!--                     <a class="map-link" href="#">Показать на карте</a>
                    <p>Нажмите на адрес, о котором хотите получить информацию</p> -->
                </div>
            </div>
            <div class="card_info-container">
                <div class="card_info-container_title">Режим работы:</div>
                <div class="card_info-container_text">
                    <p>с 10:00 до 20:00</p>
                </div>
            </div>
            <div class="card_info-container">
                <div class="card_info-container_title">Тип услуг:</div>
                <div class="card_info-container_text">
                    <p>Художественная татуировка</p>
                </div>
            </div>
            <div class="card_info-container">
                <div class="card_info-container_title">Способы оплаты:</div>
                <div class="card_info-container_text">
                    <p><i class="far fa-money-bill-alt"></i>Оплата наличными</p>
                    <p><i class="far fa-credit-card"></i>Безналичная оплата</p>
                    <p><i class="fas fa-wifi"></i></i>Безконтактная оплата</p>
                </div>
            </div>
            <div class="card_info-container">
                <div class="card_info-container_title">Телефон:</div>
                <div class="card_info-container_text">
                    <p class="card_info-tel_wrap">Показать номер</p>
                    <a href="callto: +73412566643" class="card_info-tel">+7 (3412) 5-666-43</a>
                </div>
            </div>
            <div class="card_info-container about">
                <div class="card_info-container_title">О компании:</div>
                <div class="card_info-container_text">
                    <p>Самая крупная студия татуировки в Ижевске. То место, где вы чувствуете атмосферу и разницу с другими студиями от самого порога и до конечного результата. В нашем арсенале:
                        <ul>
                            <li> Художественная татуировка любой сложности </li>
                            <li>Исправление/обновление/сведение тату </li>
                            <li>Удаление растяжек/шрамов/перманента </li>
                            <li> Разработка уникальных эскизов </li>
                            <li>Обучение</li>
                        </ul>
                </div>
            </div>
            <div class="card_btn-container">
                <a href="/cabinet" class="btn yellow"><span>Получать</span> cashback</a>
                <a class="btn social" href="#"><i class="fas fa-globe"></i></a>
                <a class="btn social" href="#"><i class="fab fa-vk"></i></a>
                <a class="btn social" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn social" href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="main_content-block_hastag-wrap">
                <a class="main_content-block_hashtag" href="#">#tattoo</a>
                <a class="main_content-block_hashtag" href="#">#tattooizhevsk</a>
                <a class="main_content-block_hashtag" href="#">#kurbatov</a>
                <a class="main_content-block_hashtag" href="#">#ижевскийбарон</a>
            </div>
        </div>
    </div>
    <div class="main_content-block_action">
        <div class="main_content-block_action-title">Скидка за репост <a href="#">подробнее</a></div>
        <div class="slic-arrow prev"><i class="fas fa-chevron-left"></i></div>
        <div class="slic-arrow next"><i class="fas fa-chevron-right"></i></div>
        <div class="main_content-block_action-wrap">
            <div class="sale_block">
                <div class="sale_img"><img src="https://pp.userapi.com/c836320/v836320002/5b1e4/zJrzVW9vyzo.jpg" alt=""></div>
                <div class="sale_content">
                    <div class="sale_name">Пиццерия Ещё кусочек</div>
                    <div class="sale_text">
                        <p>Скидка 70% на любую пиццу</p>
                    </div>
                    <div class="sale_social-wrap">
                        <p>За 100 просмотров</p>
                        <p>Действует до 20.05.2018</p>
                        <script type="text/javascript">
                        <!--
                        document.write(VK.Share.button({
                            url: 'http://localhost:3004/sale.html',
                            title: 'Пиццерия Ещё кусочек',
                            comment: 'Краткое описание сайта',
                            image: 'http://unionpoint.ru/static/info.jpg'
                        }, {
                            type: 'custom',
                            text: '<span class="btn">Получить скидку</span>'
                        }));
                        -->

                        </script>
                    </div>
                </div>
            </div><div class="sale_block">
                <div class="sale_img"><img src="https://pp.userapi.com/c836320/v836320002/5b1e4/zJrzVW9vyzo.jpg" alt=""></div>
                <div class="sale_content">
                    <div class="sale_name">Пиццерия Ещё кусочек</div>
                    <div class="sale_text">
                        <p>Скидка 70% на любую пиццу</p>
                    </div>
                    <div class="sale_social-wrap">
                        <p>За 100 просмотров</p>
                        <p>Действует до 20.05.2018</p>
                        <script type="text/javascript">
                        <!--
                        document.write(VK.Share.button({
                            url: 'http://localhost:3004/sale.html',
                            title: 'Пиццерия Ещё кусочек',
                            comment: 'Краткое описание сайта',
                            image: 'http://unionpoint.ru/static/info.jpg'
                        }, {
                            type: 'custom',
                            text: '<span class="btn">Получить скидку</span>'
                        }));
                        -->

                        </script>
                    </div>
                </div>
            </div><div class="sale_block">
                <div class="sale_img"><img src="https://pp.userapi.com/c836320/v836320002/5b1e4/zJrzVW9vyzo.jpg" alt=""></div>
                <div class="sale_content">
                    <div class="sale_name">Пиццерия Ещё кусочек</div>
                    <div class="sale_text">
                        <p>Скидка 70% на любую пиццу</p>
                    </div>
                    <div class="sale_social-wrap">
                        <p>За 100 просмотров</p>
                        <p>Действует до 20.05.2018</p>
                        <script type="text/javascript">
                        <!--
                        document.write(VK.Share.button({
                            url: 'http://localhost:3004/sale.html',
                            title: 'Пиццерия Ещё кусочек',
                            comment: 'Краткое описание сайта',
                            image: 'http://unionpoint.ru/static/info.jpg'
                        }, {
                            type: 'custom',
                            text: '<span class="btn">Получить скидку</span>'
                        }));
                        -->

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card_help">
        <span>Помогите компании стать успешнее <a href="#" class="btn">Поделиться</a></span>
    </div>
    <div class="card_reviews">
        Отзывы (2)
    </div>
    <div class="reviews_wrap">
        <div class="reviews">
            <div class="reviews_body">
                <div class="reviews_text">Какая замечательная компания! Обслуживание просто вышка!</div>
                <div class="reviews_rating">Оценка:<i class="far fa-smile"></i></div>
            </div>
            <div class="reviews_footer">
                <span class="reviews_author">Андрей Колчин</span>
                <span class="reviews_date">27.04.2017</span>
            </div>
        </div>
        <div class="reviews">
            <div class="reviews_body">
                <div class="reviews_text">Какая замечательная компания! Обслуживание просто вышка!</div>
                <div class="reviews_rating">Оценка:<i class="far fa-frown"></i></div>
            </div>
            <div class="reviews_footer">
                <span class="reviews_author">Андрей Колчин</span>
                <span class="reviews_date">27.04.2017</span>
            </div>
        </div>
        <div class="reviews">
            <div class="reviews_body">
                <div class="reviews_text">Какая замечательная компания! Обслуживание просто вышка!</div>
                <div class="reviews_rating">Оценка:<i class="far fa-smile"></i></div>
            </div>
            <div class="reviews_footer">
                <span class="reviews_author">Андрей Колчин</span>
                <span class="reviews_date">27.04.2017</span>
            </div>
        </div>
        <div class="reviews">
            <div class="reviews_body">
                <div class="reviews_text">Какая замечательная компания! Обслуживание просто вышка!</div>
                <div class="reviews_rating">Оценка:<i class="far fa-smile"></i></div>
            </div>
            <div class="reviews_footer">
                <span class="reviews_author">Андрей Колчин</span>
                <span class="reviews_date">27.04.2017</span>
            </div>
        </div>
        <div class="reviews">
            <div class="reviews_body">
                <div class="reviews_text">Какая замечательная компания! Обслуживание просто вышка!</div>
                <div class="reviews_rating">Оценка:<i class="far fa-smile"></i></div>
            </div>
            <div class="reviews_footer">
                <span class="reviews_author">Андрей Колчин</span>
                <span class="reviews_date">27.04.2017</span>
            </div>
        </div>
    </div>
</div>
