.card_wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    @media (max-width: 1023px) {
        display: block;
    }
}

.card_photo-block {
    width: 48%;
    position: relative;
    @media (max-width: 1023px) {
        width: 100%;
    }
}

.card_info-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    @media (max-width: 1023px) {
        width: 100%;
        margin-top: 20px;
    }
    & .main_content-block_hastag-wrap {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 15px;
        padding-top: 10px;
        border-top: 1px solid #D3D9DE;
        & .main_content-block_hashtag {
            font-size: 14px;
            margin-top: 5px;
        }
        @media (max-width: 1023px) {
            margin-top: 10px;
        }
    }
}

.card_title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #D3D9DE;
    h1 {
        font-size: 22px;
        color: #70635A;
        font-weight: 700;
        margin-top: 0;
    }
}

.card_cashback {
    padding: 15px 10px;
    background: #80C7DD;
    color: #fff;
    font-weight: 700;
}
.card_cashback span:first-child {
    margin-right: 15px;

}

.card_raiting {
    padding: 15px 10px;
    background: #F3F3F3;
    display: flex;
    &-value {
        margin-left: 10px;
        color: #80C7DD;
    }
    i {
        cursor: pointer;
    }
    &-smile {
        margin-left: auto;
        margin-right: 10px;
        i {
            color: green;
        }
    }
    &-sad {
        i {
            color: red;
        }
    }
    &+& {
        margin-bottom: 20px;
        border-top: 2px solid #eee;
    }
    @media (max-width: 540px) {
        display: block;
        &-smile,
        &-sad {
            display: block;
        }
        span+span {
            margin-top: 5px;
        }
    }
}

.card_info-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 6px;
    padding-top: 6px;
    &_title {
        width: 20%;
        text-align: right;
        font-size: 14px;
        color: grey;
        padding-top: 1px;
        @media (max-width: 540px) {
            width: 100%;
            text-align: left;
            margin-bottom: 5px;
        }
    }
    &_adress {
        cursor: pointer;
        text-decoration: underline;
        &.active {
            color: green;
        }
        &:hover {
            color: #80C7DD;
        }
    }
    &_text {
        padding-left: 20px;
        width: 80%;
        font-size: 16px;
        p {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 15px;
            color: #70635A;
            i {
                font-size: 16px;
                line-height: 16px;
                margin-right: 5px;
                width: 24px;
                text-align: center;
            }
        }
        p+p {
            margin-top: 5px;
        }
        ul {
            margin-top: 8px;
            padding-left: 18px;
            font-size: 15px;
            color: #70635A;
        }
        .card_info-tel_wrap {
            text-decoration: underline;
            cursor: pointer;
        }
        .card_info-tel {
            display: none;
            font-size: 16px;
            color: #70635A;
        }
        .card_info-tel+.card_info-tel {
            margin-top: 5px;
        }
        @media (max-width: 540px) {
            width: 100%;
        }
    }
    &.about {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #D3D9DE;
    }
    .map-link {
        color: #8CC2FE;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    & .percent {
        font-size: 22px;
        color: #5FABC2;
        text-decoration: underline;
    }
}

.card_btn-container {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #D3D9DE;
    .btn {
        text-align: center;
        background: #80C7DD;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        &:hover {
            background: #5FABC2;
        }
        &.yellow {
            color: #434242;
            transition: .3s ease;
            background: #FFEE00;
            &:hover {
                box-shadow: 0px 0px 20px 0px rgba(255, 237, 0, 1);
            }
            & span {
                font-weight: 700;
            }
        }
        &.social {
            width: 38px;
            padding-left: 0;
            padding-right: 0;
        }
        &+.btn {
            margin-left: 10px;
        }
    }
    @media (max-width: 1023px) {
        text-align: center;
    }
    @media (max-width: 540px) {
        display: block;
        .btn {
            width: 100%;
            &+.btn {
                margin-top: 15px;
            }
        }
    }
}
.main_content-block_action-title {
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #70635a;
    & a {
        font-weight: 500;
        font-size: 16px;
        text-transform: none;
        float: right;
        color: #70635a;
    }
}
.main_content-block_action-info {
    text-align: center;
    font-size: 18px;
    color: #70635a;
}
.main_content-block_action {
    background: #DAE9FA;
    position: relative;
    padding-bottom: 25px;
    & .slic-arrow.prev {
        position: absolute;
        left: 5px;
        top: 50%;
        z-index: 50;
        font-size: 30px;
        color: #80C7DD;
        padding-top: 20px;
        padding-bottom: 20px;
        cursor: pointer;
        transition: .3s ease;
        transform: translateY(-50%);
        &:hover {
            color: #5FABC2;
        }
    }
    & .slic-arrow.next {
        position: absolute;
        right: 5px;
        top: 50%;
        z-index: 50;
        font-size: 30px;
        color: #80C7DD;
        padding-top: 20px;
        padding-bottom: 20px;
        cursor: pointer;
        transition: .3s ease;
        transform: translateY(-50%);
        &:hover {
            color: #5FABC2;
        }
    }
}

.main_content-block_action-wrap {
    padding-left: 25px;
    padding-right: 25px;
    & .sale_block {
        margin: 5px;
    }
}

.card_help {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #F3F3F3;
    color: #70635A;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 700;
    .btn {
        background: #80C7DD;
        color: #fff;
        margin-left: 10px;
        &:hover {
            background: #5FABC2;
        }
    }
    @media (max-width: 1023px) {
        display: block;
        text-align: center;
        span {
            display: block;
            &+span {
                margin-top: 20px;
            }
        }
    }
}

.card_reviews {
    width: 100%;
    padding: 20px;
    background: #F3F3F3;
    color: #70635A;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}

.social_block {
    & .btn {
        margin-top: 5px;
    }
}

.fotorama {
    margin-bottom: 30px;
    & .fotorama__arr--prev,
    & .fotorama__arr--next {
        width: 50px;
        height: 50px;
        background: rgba(222, 224, 227, 0.5);
        border-radius: 50%;
        transition: .4s ease !important;
        &:before {
            content: '';
            position: absolute;
            left: 21px;
            top: 21px;
            width: 8px;
            height: 8px;
            transform: rotate(135deg);
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
        }
        &:hover {
            background: rgba(128, 199, 221, 1);
        }
    }
    & .fotorama__arr--next {
        &:before {
            left: auto;
            right: 21px;
            transform: rotate(-45deg);
        }
    }
}

.reviews_wrap {
    padding-bottom: 60px;
}

.reviews_body {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background: #F6F6F6;
    border-bottom: 1px solid #B2B3B3;
    font-size: 15px;
    line-height: 21px;
    color: #70635A;
}

.reviews_rating {
    margin-top: 10px;
    color: #B2B3B3;
    & .fa-smile {
        margin-left: 15px;
        color: green;
    }
    & .fa-frown {
        margin-left: 15px;
        color: red;
    }
}

.reviews_footer {
    margin-top: 10px;
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    color: #70635A;
}

.reviews_date {
    float: right;
}
