<div class="lk_sidebar">
    <div class="lk_sidebar-block">
        <a class="btn" href="/lk-blog-create-cust.html">Создать клиента</a>
    </div>
    <div class="lk_sidebar-block">
        Мой баланс <span class="lk_sidebar-block_balans">205 р.</span>
    </div>
    <div class="lk_sidebar-block">
        Ожидаемый cashback<span class="lk_sidebar-block_balans">205 р.</span>
        <i class="far fa-question-circle"></i>
        <div class="sidebar-info">данные средства станут доступны для вывода 5 го числа</div>
    </div>
    <div class="lk_sidebar-block">
        <div>
            <span class="lk_sidebar-block_ref">Приглашено друзей</span>
            <span>102</span>
        </div>
        <div>
            <span class="lk_sidebar-block_ref">Доход от друзей</span>
            <span>102000</span>
        </div>
    </div>
    <div class="lk_sidebar-block help">
        <a href="#">Помог детскому дому</a>
        <span>30 р.</span>
    </div>
    <div class="lk_sidebar-block income">
        Получил выгоду <span>3028 р.</span>
    </div>
</div>
