.main_wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 100px;
}

.main_content {
    max-width: 550px;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    @media (max-width: 1023px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.main_content-block {
    margin-bottom: 40px;
    border: 1px solid #D3D9DE;
    border-radius: 8px;
    overflow: hidden;
    order: 2;
    img {
        width: 100%;
    }
    &.catalog_banner {
        order: 1;
    }
}

.main_content-block_info {
    padding: 20px 25px;
}

.main_content-block_title {
    font-size: 18px;
    font-weight: 700;
    color: #70635a;
    display: flex;
}

.main_content-block_date {
    font-size: 16px;
    font-weight: 500;
    color: #C5C6C6;
    margin-left: auto;
}

.main_content-block_adress-btn {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #C5C6C6;
    text-decoration: underline;
}

.main_content-block_adress-wrap {
    display: none;
}

.main_content-block_adress {
    font-size: 16px;
    font-weight: 500;
    color: #C5C6C6;
    margin-left: auto;
}

.main_content-block_text {
    margin: 20px 0;
    font-size: 16px;
    color: #898989;
    p {
        line-height: 20px;
    }
    p+p {
        margin-top: 10px;
    }
}

.main_content-block_hastag-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.main_content-block_hashtag {
    font-size: 16px;
    color: #C5C6C6;
    border: 1px solid #D3D9DE;
    border-radius: 8px;
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 5px;
    margin-top: 10px;
    display: inline-block;
    transition: .3s ease;
    &:hover {
        background: #D3D9DE;
        color: #fff
    }
}

.main_content-btn-wrap {
    display: flex;
    margin-top: 10px;
}

.main_content-btn {
    margin-left: auto;
    font-size: 18px;
    color: #fff;
    background: #80C7DD;
}

.popup-bg {
    display: none;
    background: #000;
    opacity: 0.8;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.popup-city {
    display: none;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    padding: 20px;
    padding-top: 30px;
    width: 768px;
    input {
        width: 100%;
        font-size: 22px;
        padding-left: 25px;
        border: none;
        border-top: 1px solid #D3D9DE;
        border-bottom: 1px solid #D3D9DE;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 0;
    }
    .btn {
        margin-top: 20px;
        float: right;
        font-size: 20px;
    }
    @media (max-width: 767px) {
        top: -15px;
        left: 0;
        width: 100%;
        transform: none;
    }
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #D3D9DE;
    cursor: pointer;
    transition: .3s ease;
    &:hover {
        color: #000
    }
}

.popup-city_wrap {
    margin-top: 20px;
    column-count: 3;
    a {
        font-size: 16px;
        display: block;
        margin: 10px 0; 
        text-decoration: none;
        color: #86776F;
        &:hover {
            color: #403834;
        }
    }
    @media (max-width: 540px) {
         column-count: 2;
    }
}

.main_content-block_img-link {
    display: block;
    position: relative;
}

.main_content-banner {
    width: 100%;
    border: 1px solid #D3D9DE;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    img {
        width: 100%;
        display: block
    }
    &_text {
        display: none;
        padding: 0 15px;
        font-size: 16px;
        color: #898989;
        line-height: 20px;
        border-top: 1px solid #D3D9DE;
        cursor: text;
    }
}

.main_content-block_percent {
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
    background: #80C7DD;
    padding: 10px 20px;
    color: #fff;
    font-size: 22px;
    line-height: 22px;
    border-radius: 8px 0 0 8px;
}


.ui-selectmenu-button.ui-button {
    display: block;
    width: 100%;
    font-size: 15px;
    color: #898989;
    border: 1px solid #D3D9DE;
    border-radius: 8px;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: #fff;
    margin-top: 10px;
    &:after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f107";
        font-size: 12px;
        color: #D3D9DE;
        position: absolute;
        right: 10px;
        top: 7px;
    }
}

.ui-selectmenu-menu .ui-menu {
    width: 100%;
    font-size: 15px;
    color: #898989;
    border: 1px solid #D3D9DE;
    border-radius: 8px;
    background: #fff
}

.ui-selectmenu-menu .ui-state-disabled {
    color: #D3D9DE;
}

.ui-menu .ui-menu-item-wrapper {
    padding: 5px;
    padding-left: 15px;
}

.ui-menu .ui-menu-item-wrapper.ui-state-active {
    margin: 0;
}

.btn-to-top {
    top: 50px;
    cursor: pointer;
    display: none;
    font-size: 18px;
    position: fixed;
    margin-left: 100px;
    z-index: 100;
}