<div class="container">
    <div class="burger_nav">
        <i class="fas fa-list"></i>
    </div>
    <div class="burger_search">
        <i class="fas fa-search"></i>
    </div>
    <div class="main_wrap">
        {{> menu-content/menu-content}}
        <div class="main_content">
            <div class="main_content-banner" data-damage-resistance="40" draggable>
                <img src="static/img/general/main-banner.svg" alt="">
                <div class="main_content-banner_text">
                    <p>Таким образом новая модель организационной деятельности требуют определения и уточнения соответствующий условий активизации. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке систем массового участия.</p>
                    <p>Не следует, однако забывать, что рамки и место обучения кадров играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке новых предложений. Разнообразный и богатый опыт начало повседневной работы по формированию позиции способствует подготовки и реализации направлений прогрессивного развития. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании форм развития.</p>
                </div>
            </div>
            <div class="main_content-block">

                <a class="main_content-block_img-link" href="/card-company.html">
                    <img src="static/img/general/1ccdMw5qMyI.jpg" alt="">
                    <span class="main_content-block_percent">- 10%</span>
                </a>
                <div class="main_content-block_info">
                    <div class="main_content-block_title">Тату-студия Курбатов</div>
                    <div class="main_content-block_adress-btn">Показать адреса</div>
                    <div class="main_content-block_adress-wrap">
                        <div class="main_content-block_adress">Пушкинская 222, тату-студия Курбатов</div>
                    </div>
                    <div class="main_content-block_text">
                        <p>Самая крупная студия татуировки в Ижевске. То место, где вы чувствуете атмосферу и разницу с другими студиями от самого порога и до конечного результата.</p>
                    </div>
                    <div class="main_content-block_hastag-wrap">
                        <a class="main_content-block_hashtag" href="#">#tattoo</a>
                        <a class="main_content-block_hashtag" href="#">#tattooizhevsk</a>
                        <a class="main_content-block_hashtag" href="#">#kurbatov</a>
                        <a class="main_content-block_hashtag" href="#">#ижевскийбарон</a>
                    </div>
                    <div class="main_content-btn-wrap"><a class="btn main_content-btn" href="/card-company.html">Перейти</a></div>
                </div>
            </div>
            <div class="main_content-block">
                <a class="main_content-block_img-link" href="/card-company.html">
                    <img src="static/img/general/i-LclF_H9HE.jpg" alt="">
                    <span class="main_content-block_percent">- 10%</span>
                </a>
                <div class="main_content-block_info">
                    <div class="main_content-block_title">Калита - одежда</div>
                    <div class="main_content-block_adress-btn">Показать адреса</div>
                    <div class="main_content-block_adress-wrap">
                        <div class="main_content-block_adress">ТЦ "КИТ", 1 этаж</div>
                        <div class="main_content-block_adress">ТРК "ПЕТРОВСКИЙ", 1 этаж</div>
                    </div>
                    <div class="main_content-block_text">
                        <p>Калита - сеть магазинов одежды и аксессуаров с реалистичными рисунками. Уникальные 3D-футболки TheMountain. Яркие и доступные модели от Российских брендов MF и Stella.</p>
                    </div>
                    <div class="main_content-block_hastag-wrap">
                        <a class="main_content-block_hashtag" href="#">#калита</a>
                        <a class="main_content-block_hashtag" href="#">#футболки</a>
                        <a class="main_content-block_hashtag" href="#">#реалистичные рисунки</a>
                        <a class="main_content-block_hashtag" href="#">#ручнаяработа</a>
                    </div>
                    <div class="main_content-btn-wrap"><a class="btn main_content-btn" href="/card-company.html">Перейти</a></div>
                </div>
            </div>
            <div class="main_content-block">
                <a class="main_content-block_img-link" href="/card-company.html">
                    <img src="static/img/general/eQoJzYqokXU.jpg" alt="">
                    <span class="main_content-block_percent">- 10%</span>
                </a>
                <div class="main_content-block_info">
                    <div class="main_content-block_title">Т-Бренд - футболки и свитшоты на заказ</div>
                    <div class="main_content-block_adress-btn">Показать адреса</div>
                    <div class="main_content-block_adress-wrap">
                        <div class="main_content-block_adress">Карла Маркса 434, 1 этаж</div>
                    </div>
                    <div class="main_content-block_text">
                        <p>Печать на футболках Ижевск. В нашей студии вы можете примерить футболку и нанести свое фото (до 40х50см!)</p>
                    </div>
                    <div class="main_content-block_hastag-wrap">
                        <a class="main_content-block_hashtag" href="#">#твойбренд</a>
                        <a class="main_content-block_hashtag" href="#">#tbrand</a>
                        <a class="main_content-block_hashtag" href="#">#печатьнафутболках</a>
                    </div>
                    <div class="main_content-btn-wrap"><a class="btn main_content-btn" href="/card-company.html">Перейти</a></div>
                </div>
            </div>
        </div>
        {{> main-sidebar-content/main-sidebar-content}}
    </div>
    <div class="popup-bg"></div>
    <div class="popup-city">
        <div class="close-popup"><i class="far fa-times-circle"></i></div>
        <input type="text" placeholder="Введите город">
        <div class="auth_info">Введите город поиска или выбирите из списка популярных:</div>
        <div class="popup-city_wrap">
            <a href="#">Москва</a>
            <a href="#">Санкт-Петербург</a>
            <a href="#">Волгоград</a>
            <a href="#">Пермь</a>
            <a href="#">Уфа</a>
            <a href="#">Тюмень</a>
            <a href="#">Орск</a>
            <a href="#">Казань</a>
            <a href="#">Воронеж</a>
            <a href="#">Омск</a>
            <a href="#">Самара</a>
            <a href="#">Чита</a>
            <a href="#">Новосибирск</a>
            <a href="#">Челябинск</a>
            <a href="#">Махачкала</a>
            <a href="#">Екатеринбург</a>
            <a href="#">Братск</a>
            <a href="#">Новокузнецк</a>
            <a href="#">Дзержинск</a>
            <a href="#">Нижний Новгород</a>
            <a href="#">Саратов</a>
            <a href="#">Курган</a>
            <a href="#">Магнитогорск  </a>
            <a href="#">Хабаровск</a>
            <a href="#">Улан-Удэ  </a>
            <a href="#">Петропавловск-Камчатский</a>
            <a href="#">Сургут</a>
            <a href="#">Красноярск</a>
            <a href="#">Ростов-на-Дону</a>
            <a href="#">Краснодар</a>
        </div>
        <a href="#" class="btn">Добавить свой город</a>
    </div>
    <div class="btn-to-top">наверх <i class="fas fa-angle-up"></i></div>
</div>
