{{> lk-company-nav-content/lk-company-nav-content}}
<div class="container lk_wrap">
    <div class="lk_content lk-company_customers">
		<table class="lk_table">
            <thead>
                <tr>
                	<th>Дата создания</th>
                	<th>Имя</th>
                	<th>Номер</th>
                	<th>Принес денег</th>
                	<th>Покупок</th>
                </tr>
            </thead>
            <tbody>
					<tr>
						<td>18/07/3093</td>
						<td>Петр Степанович</td>
						<td>8 (800) 555-35-35</td>
						<td>28 358</td>
						<td>9</td>
					</tr>
					<tr>
						<td>18/07/3093</td>
						<td>Петр Степанович</td>
						<td>8 (800) 555-35-35</td>
						<td>28 358</td>
						<td>5</td>
					</tr>
					<tr>
						<td>18/07/3093</td>
						<td>Петр Степанович</td>
						<td>8 (800) 555-35-35</td>
						<td>28 358</td>
						<td>2</td>
					</tr>
					<tr>
						<td>18/07/3093</td>
						<td>Петр Степанович</td>
						<td>8 (800) 555-35-35</td>
						<td>28 358</td>
						<td>4</td>
					</tr>
					<tr>
						<td>18/07/3093</td>
						<td>Петр Степанович</td>
						<td>8 (800) 555-35-35</td>
						<td>28 358</td>
						<td>1</td>
					</tr>
					<tr>
						<td>18/07/3093</td>
						<td>Петр Степанович</td>
						<td>8 (800) 555-35-35</td>
						<td>28 358</td>
						<td>3</td>
					</tr>
            </tbody>
        </table>
        {{> lk-pagination-content/lk-pagination-content}}
    </div>
    {{> lk-company-sidebar-content/lk-company-sidebar-content}}
</div>

