{{> lk-blog-nav-content/lk-blog-nav-content}}
<div class="container lk_wrap">
    <div class="lk_content lk-company_create">
        <div class="lk-company_deposit_input-wrap">
            <form action="">
                <input type="text" placeholder="Номер телефона">
                <button class="btn">Найти</button>
            </form>
        </div>
        <div class="lk-company_create_row">Нет в базе Union</div>
        <div class="lk-company_deposit_input-wrap">
            <form action="">
                <input type="text" placeholder="Имя">
                <input type="text" placeholder="Город">
                <button class="btn">ОК</button>
            </form>
            <div class="info">Клиенту будет создан личный кабинет и отправлено СМС с кодом</div>
        </div>
        <div class="lk-company_deposit_input-wrap">
            <form action="">
                <input type="text" placeholder="Введите код">
                <button class="btn">ОК</button>
            </form>
        </div>
    </div>
    {{> lk-blog-sidebar-content/lk-blog-sidebar-content}}
</div>

