input[type="radio"] {
    display: none;
    position: absolute;
}

input[type="radio"]:checked+.label {
    background: #5FABC2;
    color: #fff;
}

.label {
    padding: 8px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: #86776F;
    text-decoration: none;
    border: none;
    background: #fff;
    border: 1px solid #D3D9DE;
    border-radius: 8px;
    cursor: pointer;
    transition: background .3s ease, color .3s ease;
    margin-bottom: 10px;
    &:hover {
        background: #5FABC2;
        color: #fff;
    }
    .fa-smile {
      color: green;
    }
    .fa-frown {
      color: red;
    }
}

.input-wrap {
   border: 1px solid #D3D9DE;
   border-radius: 8px;
   padding-left: 10px;
   display: inline-block;
   margin-bottom: 10px;
   i {
   	font-size: 15px;
   	color: #D3D9DE;
   }
   input {
   	border: none;
   }
}
.lk_title {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 700;
	color: #70635A;
}

.lk_sub-title {
	font-size: 15px;
	margin-bottom: 5px;
	color: #70635A;
}

.info {
	font-size: 14px;
    color: #B2B3B3;
    margin-top: 5px;
    margin-bottom: 10px;
}

.lk_setting .auth_input {
  max-width: 320px;
}

.lk_setting .auth_input-cod {
  display: none;
}