{{> lk-blog-nav-content/lk-blog-nav-content}}
<div class="container lk_wrap">
    <div class="lk_content lk_setting">
        <div class="lk_title">Сменить номер</div>
        <form action="">
            <div class="auth_info">Все данные привязанные к этому номеру, будут перенесены на новый номер:</div>
            <input class="auth_input auth_input-tel" type="tel" placeholder="+7 (___) ___-__-__" required="">
            <input class="auth_input auth_input-cod" type="tel" placeholder="0000">
            <div class="auth_info cod_info">На указанный номер будет отправлено СМС с кодом подтверждения номера</div>
            <button class="btn change_tel">Сменить номер</button>
        </form>
    </div>
    {{> lk-blog-sidebar-content/lk-blog-sidebar-content}}
</div>
