.lk-company_setting {
	& .lk-company_block {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
.lk-company_setting  .auth_input {
  max-width: 320px;
}

.lk-company_setting  .auth_input-cod {
  display: none;
}