<div class="lk_sidebar">
    <div class="lk_sidebar-block">
        <a class="btn" href="/lk-company-create-cust.html">Создать клиента</a>
        <a class="btn" href="/lk-company-create.html">Создать заказ</a>
    </div>
    <div class="lk_sidebar-block">
        <span class="lk_sidebar-block_ref">Мой баланс</span>
        <span>102 р.</span>
    </div>
    <div class="lk_sidebar-block">
        <div>
            <span class="lk_sidebar-block_ref">Приглашено</span>
            <span>102</span>
        </div>
        <div>
            <span class="lk_sidebar-block_ref">Доход</span>
            <span>102 000 р.</span>
        </div>
    </div>
    <div class="lk_sidebar-block help">
        <a href="#">Помог детскому дому</a>
        <span>30 р.</span>
    </div>
</div>
