.favorite_btn-wrap {
    margin-top: 20px;
    & .btn {
        font-size: 20px;
    }
    & .btn+.btn {
        margin-left: 20px;
    }
}

.favorite_wrap {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.favorite_block {
    max-width: 350px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
    img {
        width: 100%;
        height: 100%;
    }
    &:hover .favorite_title {
        opacity: 1;
    }
}

.favorite_title {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    transition: .3s ease;
    padding: 10px;
    & .btn {
		position: absolute;
		right: 5px;
		bottom: 5px;
    }
    @media (max-width: 1023px) {
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
    }
}
.favorite_text {
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
}
