<div class="container">
    <div class="favorite_btn-wrap">
    </div>
    <div class="favorite_text">Быстрый доступ к компаниям которые вам интересны:</div>
    <div class="favorite_wrap">
        <div class="favorite_block">
            <img src="static/img/general/cafe.jpg" alt="">
            <div class="favorite_title">
            	<span>Название компании</span>
            	<a class="btn" href="#">Убрать</a>
            </div>
        </div>
        <div class="favorite_block">
            <img src="static/img/general/cafe.jpg" alt="">
            <div class="favorite_title">
            	<span>Название компании</span>
            	<a class="btn" href="#">Убрать</a>
            </div>
        </div>
        <div class="favorite_block">
            <img src="static/img/general/cafe.jpg" alt="">
            <div class="favorite_title">
            	<span>Название компании</span>
            	<a class="btn" href="#">Убрать</a>
            </div>
        </div>
        <div class="favorite_block">
            <img src="static/img/general/cafe.jpg" alt="">
            <div class="favorite_title">
            	<span>Название компании</span>
            	<a class="btn" href="#">Убрать</a>
            </div>
        </div>
        <div class="favorite_block">
            <img src="static/img/general/cafe.jpg" alt="">
            <div class="favorite_title">
            	<span>Название компании</span>
            	<a class="btn" href="#">Убрать</a>
            </div>
        </div>
        <div class="favorite_block">
            <img src="static/img/general/cafe.jpg" alt="">
            <div class="favorite_title">
            	<span>Название компании</span>
            	<a class="btn" href="#">Убрать</a>
            </div>
        </div>
        <div class="favorite_block">
            <img src="static/img/general/cafe.jpg" alt="">
            <div class="favorite_title">
            	<span>Название компании</span>
            	<a class="btn" href="#">Убрать</a>
            </div>
        </div>
        <div class="favorite_block">
            <img src="static/img/general/cafe.jpg" alt="">
            <div class="favorite_title">
            	<span>Название компании</span>
            	<a class="btn" href="#">Убрать</a>
            </div>
        </div>
        <div class="favorite_block">
            <img src="static/img/general/cafe.jpg" alt="">
            <div class="favorite_title">
            	<span>Название компании</span>
            	<a class="btn" href="#">Убрать</a>
            </div>
        </div>
        <div class="favorite_block">
            <img src="static/img/general/cafe.jpg" alt="">
            <div class="favorite_title">
            	<span>Название компании</span>
            	<a class="btn" href="#">Убрать</a>
            </div>
        </div>
        <div class="favorite_block">
            <img src="static/img/general/cafe.jpg" alt="">
            <div class="favorite_title">
            	<span>Название компании</span>
            	<a class="btn" href="#">Убрать</a>
            </div>
        </div>
    </div>
</div>

