{{> lk-company-nav-content/lk-company-nav-content}}
<div class="container lk_wrap">
    <div class="lk_content lk-company_operation">
		<table class="lk_table">
            <thead>
                <tr>
                	<th>Дата</th>
                	<th>Операци</th>
                	<th>Номер</th>
                	<th>Стоимость</th>
                	<th>Cashback клиенту</th>
                	<th>Cashback партнерский</th>
                	<th>Комментарий</th>
                </tr>
            </thead>
            <tbody>
					<tr>
						<td>18/07/2018</td>
						<td>Новый клиент</td>
						<td>+78005553535</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
                	<td>Комментарий</td>
					</tr>
					<tr>
						<td>18/07/2018</td>
						<td>Заказ</td>
						<td>+78005553535</td>
						<td>2 000 р.</td>
						<td>100</td>
						<td>100</td>
                	<td>Комментарий</td>
					</tr>
					<tr>
						<td>18/07/2018</td>
						<td>Заказ</td>
						<td>+78005553535</td>
						<td>2 000 р.</td>
						<td>100</td>
						<td>100</td>
                	<td>Комментарий</td>
					</tr>
					<tr>
						<td>18/07/2018</td>
						<td>Заказ</td>
						<td>+78005553535</td>
						<td>2 000 р.</td>
						<td>100</td>
						<td>100</td>
                	<td>Комментарий</td>
					</tr>
					<tr>
						<td>18/07/2018</td>
						<td>Заказ</td>
						<td>+78005553535</td>
						<td>2 000 р.</td>
						<td>100</td>
						<td>100</td>
                	<td>Комментарий</td>
					</tr>
            </tbody>
        </table>
        {{> lk-pagination-content/lk-pagination-content}}
    </div>
    {{> lk-company-sidebar-content/lk-company-sidebar-content}}
</div>


