<div class="our-people_wrap container">
    <div class="our-people_block">
        <div class="our-people_img"><img src="https://pp.userapi.com/c836320/v836320002/5b1e4/zJrzVW9vyzo.jpg" alt=""></div>
        <div class="our-people_content">
            <div class="our-people_name">Василий Петров</div>
            <div class="our-people_text">
                <p>О нём:</p>
                <p>Задача организации, в особенности же сложившаяся структура организации требует от нас системного анализа существующих финансовых и административных условий?</p>
            </div>
            <div class="our-people_social-wrap">
                <p>Сайт: <a href="#">mysite.ru</a></p>
                <div class="our-people_social">
                    <a href="#"><i class="fab fa-vk"></i></a>
                    <a href="#"><i class="fab fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="our-people_block">
        <div class="our-people_img"><img src="https://pp.userapi.com/c639529/v639529002/60f0a/xvFlZ3pfens.jpg" alt=""></div>
        <div class="our-people_content">
            <div class="our-people_name">Александр Корепанов</div>
            <div class="our-people_text">
                <p>О нём:</p>
                <p>Задача организации, в особенности же сложившаяся структура организации требует от нас системного анализа.</p>
            </div>
            <div class="our-people_social-wrap">
                <p>Сайт: <a href="#">mysite.ru</a></p>
                <div class="our-people_social">
                    <a href="#"><i class="fab fa-vk"></i></a>
                    <a href="#"><i class="fab fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="our-people_block">
        <div class="our-people_img"><img src="https://pp.userapi.com/c639529/v639529002/60ee6/wZO_FPyEKCY.jpg" alt=""></div>
        <div class="our-people_content">
            <div class="our-people_name">Алексей Неграчпок</div>
            <div class="our-people_text">
                <p>О нём:</p>
                <p>Коротко обо мне.</p>
            </div>
            <div class="our-people_social-wrap">
                <p>Сайт: <a href="#">mysite.ru</a></p>
                <div class="our-people_social">
                    <a href="#"><i class="fab fa-vk"></i></a>
                    <a href="#"><i class="fab fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="our-people_block">
        <div class="our-people_img"><img src="https://pp.userapi.com/c638631/v638631223/68437/G23hOQUP--I.jpg" alt=""></div>
        <div class="our-people_content">
            <div class="our-people_name">Владислав Солдженицин</div>
            <div class="our-people_text">
                <p>О нём:</p>
                <p>Задача организации, в особенности же сложившаяся структура организации требует от нас системного анализа существующих финансовых и административных условий? Задача организации, в особенности же сложившаяся структура организации требует от нас системного анализа существующих финансовых и административных условий?</p>
            </div>
            <div class="our-people_social-wrap">
                <p>Сайт: <a href="#">mysite.ru</a></p>
                <div class="our-people_social">
                    <a href="#"><i class="fab fa-vk"></i></a>
                    <a href="#"><i class="fab fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="our-people_block">
        <div class="our-people_img"><img src="https://pp.userapi.com/c837437/v837437489/73eeb/-vRyokOMCmk.jpg" alt=""></div>
        <div class="our-people_content">
            <div class="our-people_name">Игорь Котов</div>
            <div class="our-people_text">
                <p>О нём:</p>
                <p>Задача организации, в особенности же сложившаяся структура организации требует от нас системного анализа существующих финансовых и административных условий?</p>
            </div>
            <div class="our-people_social-wrap">
                <p>Сайт: <a href="#">mysite.ru</a></p>
                <div class="our-people_social">
                    <a href="#"><i class="fab fa-vk"></i></a>
                    <a href="#"><i class="fab fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="our-people_block">
        <div class="our-people_img"><img src="https://pp.userapi.com/c836724/v836724320/56e33/2aJrJY5uAdM.jpg" alt=""></div>
        <div class="our-people_content">
            <div class="our-people_name">Надежда Вахрушева</div>
            <div class="our-people_text">
                <p>О нём:</p>
                <p>Задача организации, в особенности же сложившаяся структура организации требует от нас системного анализа существующих финансовых и административных условий? Задача организации, в особенности же сложившаяся структура организации требует от нас системного анализа существующих финансовых и административных условий?</p>
            </div>
            <div class="our-people_social-wrap">
                <p>Сайт: <a href="#">mysite.ru</a></p>
                <div class="our-people_social">
                    <a href="#"><i class="fab fa-vk"></i></a>
                    <a href="#"><i class="fab fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="our-people_block">
        <div class="our-people_img"><img src="https://pp.userapi.com/c639225/v639225300/3b76f/ZJUGAqMHR1E.jpg" alt=""></div>
        <div class="our-people_content">
            <div class="our-people_name">Иоан Апостолович</div>
            <div class="our-people_text">
                <p>О нём:</p>
                <p>Задача организации, в особенности же сложившаяся структура.</p>
            </div>
            <div class="our-people_social-wrap">
                <p>Сайт: <a href="#">mysite.ru</a></p>
                <div class="our-people_social">
                    <a href="#"><i class="fab fa-vk"></i></a>
                    <a href="#"><i class="fab fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
