.our-people {
    &_wrap {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    &_block {
        margin: 10px;
        width: 270px;
        border: 1px solid #D3D9DE;
        border-radius: 8px;
        overflow: hidden;
        & p {
            margin-top: 5px;
            margin-bottom: 8px;
            color: #70635a;
            font-size: 14px;
            line-height: 18px;
            & a {
            margin-top: 5px;
            margin-bottom: 8px;
            color: #70635a;
            font-size: 14px;
            line-height: 18px;
            transition: .3s ease;
            text-decoration: none;
            &:hover {
            	color: #80C7DD;
            }
            }
        }
    }
    &_img {
        img {
            display: block;
            width: 100%;
            height: 150px;
            object-fit: cover;
        }
    }
    &_content {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
    }
    &_name {
        padding-bottom: 5px;
        color: #70635a;
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        border-bottom: 1px solid #D3D9DE;
    }
    &_social-wrap {
    	margin-top: 15px;
    }
    &_social {
        border-top: 1px solid #D3D9DE;
    	margin-top: 10px;
    	padding-top: 10px;
    	text-align: center;
        a {
            font-size: 14px;
            margin-right: 5px;
            display: inline-block;
            width: 25px;
            height: 25px;
            background: #D0E7ED;
            border-radius: 4px;
            color: #86776F;
            text-decoration: none;
            transition: color .3s ease;
            text-align: center;
            vertical-align: middle;
            i {
            	line-height: 25px;
            }
            &:hover {
            	background: #5FABC2;
    			color: #fff;
            }
        }
    }
}
