{{> lk-nav-content/lk-nav-content}}
<div class="container lk_wrap">
    <div class="lk_content lk_main">
        <!--Блок, если таблица не содержит результатов-->
        <div style="display: none;">Здесь будет показан список выших покупок у партнеров сети Union</div>
        <table class="lk_table">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Название</th>
                    <th>Стоимость</th>
                    <th>Зачисления</th>
                    <th class="rating">Оценка</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>22.07.2018</td>
                    <td>Кафе</td>
                    <td>2700</td>
                    <td>340</td>
                    <td class="rating"><span class="btn choose-rating">Оценить</span></td>
                </tr>
                <tr>
                    <td>22.07.2018</td>
                    <td>Самое длинное название компании в мире</td>
                    <td>1500</td>
                    <td>340</td>
                    <td class="rating"><i class="far fa-frown"></i></td>
                </tr>
                <tr>
                    <td>22.07.2018</td>
                    <td>Кафе ромашка подлиннее</td>
                    <td>3200</td>
                    <td>180</td>
                    <td class="rating"><i class="far fa-smile"></i></td>
                </tr>
                <tr>
                    <td>22.07.2018</td>
                    <td>Кафе ромашка немного</td>
                    <td>780</td>
                    <td>30</td>
                    <td class="rating"><i class="far fa-frown"></i></td>
                </tr>
                <tr>
                    <td>22.07.2018</td>
                    <td>Кафе ромашка</td>
                    <td>2700</td>
                    <td>60</td>
                    <td class="rating"><i class="far fa-smile"></i></td>
                </tr>
            </tbody>
        </table>
        {{> lk-pagination-content/lk-pagination-content}}
    </div>
    {{> lk-sidebar-content/lk-sidebar-content}}
</div>
<div class="popup-rating_wrap">
    <div class="popup-rating_bg"></div>
    <div class="popup-rating">
        <div class="close-popup"><i class="far fa-times-circle"></i></div>
        <div class="popup-rating_1">
            <form action="">
                <div class="popup-rating_title">Оцените компанию, чтобы Вам начислели средства:</div>
                <input id="lk_rating-1" type="radio" name="rating" value="smile">
                <label class="label" for="lk_rating-1"><i class="far fa-smile"></i></label>
                <input id="lk_rating-2" type="radio" name="rating" value="frown">
                <label class="label" for="lk_rating-2"><i class="far fa-frown"></i></label>
            </form>
        </div>
        <div class="popup-rating_title popup-rating_2">Благодарим за оценку!</div>
        <div class="popup-rating_3">
            <form action="">
                <div class="popup-rating_title">Вы оказались недовольны компанией, можем ли мы Вам позвонить, чтобы узнать причину?</div>
                <input id="lk_call-1" type="radio" name="call" value="yes">
                <label class="label" for="lk_call-1">Да</label>
                <input id="lk_call-2" type="radio" name="call" value="no">
                <label class="label" for="lk_call-2">Нет</label>
            </form>
        </div>
        <div class="popup-rating_title popup-rating_4">Спасибо за оценку!
            <br>В ближайшее время Вам перезвонят.</div>
        <div class="popup-rating_5">
            <form action="">
                <div class="popup-rating_title">Укажите причину:</div>
                <input id="lk_reason-1" type="radio" name="reason" value="1">
                <label class="label" for="lk_reason-1">Предлагали скидку не через Union</label>
                <input id="lk_reason-2" type="radio" name="reason" value="2">
                <label class="label" for="lk_reason-2">Плохие услуги</label>
                <input id="lk_reason-3" type="radio" name="reason" value="3">
                <label class="label" for="lk_reason-3">Свой вариант</label>
            </form>
        </div>
        <div class="popup-rating_6">
            <form action="">
                <div class="popup-rating_title">Напишите Ваш вариант:</div>
                <textarea name="" id="" placeholder="Ваше сообщение"></textarea>
                <br>
                <button class="btn btn_popup-submit">Отправить</button>
            </form>
        </div>
    </div>
</div>
