.lk_wrap {
    display: flex;
}

.lk_content {
    padding-top: 15px;
    padding-bottom: 100px;
    width: 70%;
    table {
        width: 100%;
        border-collapse: collapse;
        tr {
            height: 60px;
            border-bottom: 1px solid #eee;
            th {
                text-align: left;
                font-weight: 500;
                padding: 0 10px;
            }
            td {
                color: #9D9E9E;
                min-width: 60px;
                max-width: 200px;
                padding: 0 10px;
            }
                &:nth-child(even) {
                    background: #F9F9F9FC;
                }
        }
        @media (max-width: 991px) {
            max-width: 450px;
            margin-left: auto;
            margin-right: auto;
        }
        .rating {
            text-align: center;
            .fa-frown {
                color: red;
                font-size: 20px;
            }
            .fa-smile {
                color: green;
                font-size: 20px;
            }
        }
    }
    @media (max-width: 1023px) {
        width: 100%;
    }
}

.lk_table {
    @media (max-width: 991px) {
        margin-bottom: 20px;
    }
}

.st-key {
    font-weight: 700;
}

.popup-rating_wrap {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}
.popup-rating_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.popup-rating {
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    padding: 30px;
    background: #fff;
    border: 2px solid #eee;
    opacity: 1;
    transition: .3s ease;
    &_title {
        font-size: 18px;
        color: #86776F;
        margin-bottom: 10px;
    }
}

.popup-rating_2,
.popup-rating_3,
.popup-rating_4,
.popup-rating_5,
.popup-rating_6 {
    display: none;
}